use flake
layout node
eval "$shellHook"

export SOPS_AGE_KEY_FILE="$(pwd)/explore-keys.txt"

watch_file secrets.yaml
if [[ -f secrets.yaml ]]; then
  eval "$(sops -d --output-type dotenv secrets.yaml 2>/dev/null)"
fi
