*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE specific
.scala_dependencies
.worksheet
.idea/
out/
.vscode/
.bloop/
.metals/
metals.sbt
.bsp/

# Mac OS
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Hydra
.hydra/
node_modules/
vars.css
static/
common/src/main/publicdev/
