common/src/main/webapp/less/vendor
common/src/main/webapp/suithemes
common/src/main/webapp/themes
hasura/user-prefs/

.github/
.mergify.yml
.direnv/
.bloop/
.bsp/
flake.lock
node_modules
target
heroku/static

explore/src/clue/resources/*.graphql
secrets.yaml
