@import "~theme/modules/sidebar.variables";

@gridSpace: 5px;
@minHeight: 2.85714286em; // TODO: Calculate this on less

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.maingrid {
  height: 100vh;
}

.rglarea {
  width: 100%;
}

.tile {
  background: black;
}

.tilemenu {
  background: darkgray;
}

// Main grid
.main-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 50px auto;
  grid-template-rows: 42px auto;
  grid-template-areas:
    "header header"
    "sidebar body";
}

.main-body {
  grid-area: body;
}

.main-title {
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.main-header {
  grid-area: header;
}

.sidetabs {
  grid-area: sidebar;
  background: darkgrey;
}

// React grid layout
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.non-draggable {
  user-select: none;
}
.centered {
  display: flex;
  justify-content: center;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: lightgreen;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: @gridSpace;
  height: @gridSpace;
  border-right: 2px solid rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

// React resizable
.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

// Form propreties
.gpp-form {
  padding-top: 1em;
}

.gpp-tile {
  height: ~"calc(100% - @{minHeight}/2)";
  width: 100%;
}

.react-aladin {
  margin: 2px;
}

// Side tabs
.sidetabs-body {
  background: red;
//  display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // flex-wrap: nowrap;
  // align-items: center;
  // position: relative;
  height: 100%;
}

.vertical-button2 {
  writing-mode: vertical-rl;
  display: block;
  transform: rotate(-90deg);
}
.vertical-button {
  // In an ideal world this would do the trick but chrome doesn't support this
  // writing-mode: vertical-rl;
  margin-top: -50%;
  // padding: 100%;
  // writing-mode: vertical-rl;
  // display: inline-block;
    display: block;
    // align-self: center;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%) translateY(20%);
  // transform: rotate(180deg);
}

.vertical-button-group {
  // writing-mode: sideways-lr;
  // background: blue;
  // transform: rotate(-90deg) translateX(-100%);// translateX(-50%) translateY(5%);
  // width: 50%;
  // display: inline-block;
  // transform: rotate(-90deg) translateX(-200%);
  // align-self: stretch;
  margin-top: 0px;
  // z-index: -999;
}

.rotation-wrapper-outer {
  display: table;
    // align-self: center;
}
.rotation-wrapper-inner {
  padding: 50% 0;
  height: 0;
}
