@import "suithemes/default/globals/site.variables";
@import "~theme/modules/sidebar.variables";
@import "~theme/globals/site.variables";

// vertical buttons
@import "verticalbuttons.less";
@import "vendor/react-resizable.less";
@import "vendor/react-grid-layout.less";

@import "explore-grid.less";

@gridSpace: 5px;
@minHeight: 2.85714286em; // TODO: Calculate this on less
@resizeHandleWidth: 5px; // Width of the tree resize handle

:root {
  color-scheme: dark;
}

// Scrollbars
* {
  scrollbar-width: thin;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}

//=================
// DARK THEME VARS
//=================
.colors-dark() {
  // Split color in HSL to easily do variations
  // https://blog.jim-nielsen.com/2020/sass-color-functions-in-css/
  --color-background-base-h: 0;
  --color-background-base-s: 0%;
  --color-background-base-l: 7.06%;
  --color-background-base-hsl: var(--color-background-base-h), var(--color-background-base-s),
    var(--color-background-base-l);
  --color-background: hsl(var(--color-background-base-hsl));
  // Variations of the background color
  // Light shades
  --color-background-light-3: hsl(
    var(--color-background-base-h),
    var(--color-background-base-s),
    calc(var(--color-background-base-l) + 3%)
  );
  --color-background-light-5: hsl(
    var(--color-background-base-h),
    var(--color-background-base-s),
    calc(var(--color-background-base-l) + 5%)
  );
  --color-background-light-6: hsl(
    var(--color-background-base-h),
    var(--color-background-base-s),
    calc(var(--color-background-base-l) + 6%)
  );
  --color-background-light-8: hsl(
    var(--color-background-base-h),
    var(--color-background-base-s),
    calc(var(--color-background-base-l) + 8%)
  );
  --color-background-light-10: hsl(
    var(--color-background-base-h),
    var(--color-background-base-s),
    calc(var(--color-background-base-l) + 10%)
  );
  --color-background-light-12: hsl(
    var(--color-background-base-h),
    var(--color-background-base-s),
    calc(var(--color-background-base-l) + 12%)
  );
  --color-background-light-15: hsl(
    var(--color-background-base-h),
    var(--color-background-base-s),
    calc(var(--color-background-base-l) + 15%)
  );
  --color-background-light-20: hsl(
    var(--color-background-base-h),
    var(--color-background-base-s),
    calc(var(--color-background-base-l) + 20%)
  );
  // Dark shades
  --color-background-dark-5: hsl(
    var(--color-background-base-h),
    var(--color-background-base-s),
    calc(var(--color-background-base-l) - 5%)
  );
  --color-background-dark-10: hsl(
    var(--color-background-base-h),
    var(--color-background-base-s),
    calc(var(--color-background-base-l) - 10%)
  );

  // text color
  --color-text-base-h: 0;
  --color-text-base-s: 0%;
  --color-text-base-l: 100%;
  --color-text-base-a: 0.87;
  --color-text-base-hsla: var(--color-background-base-h), var(--color-background-base-s),
    var(--color-text-base-l), var(--color-text-base-a);
  --color-text-base: hsla(var(--color-text-base-hsla));
  // Light shades
  --color-text-light-45: hsl(
    var(--color-text-base-h),
    var(--color-text-base-s),
    calc(var(--color-text-base-l) + 45%)
  );
  --color-text-light-75: hsl(
    var(--color-text-base-h),
    var(--color-text-base-s),
    calc(var(--color-text-base-l) + 75%)
  );
  --color-text-full: hsl(
    var(--color-text-base-h),
    var(--color-text-base-s),
    var(--color-text-base-l),
    1
  );
  --color-text-alt-hlsa: var(--color-background-base-h), var(--color-background-base-s),
    var(--color-text-base-l), 1;
  --color-text-alt: hsla(var(--color-text-alt-hsla));
  // dark shades
  --color-text-dark-10-hsla: var(--color-text-base-h), var(--color-text-base-s), calc(var(--color-text-base-l) - 8%), calc(var(--color-text-base-a) - 0.3);
  --color-text-dark-10: hsla(var(--color-text-dark-10-hsla));

  --gray-h: 210;
  --gray-s: 5.7%;
  --gray-l: 34.1%;
  --gray-a: 1;
  --gray-hsla: var(--gray-h), var(--gray-s), var(--gray-l), var(--gray-a);
  --gray: hsla(var(--gray-hsla));
  // dark grays
  --gray-dark-5: hsl(
    var(--gray-h),
    var(--gray-se-s),
    calc(var(--gray-l) - 5%),
    var(--gray-a)
  );
  --gray-dark-10: hsl(
    var(--gray-h),
    var(--gray-s-s),
    calc(var(--gray-l) - 10%),
    var(--gray-a)
  );
  --gray-dark: @color-gray-dark;

  --focus-inner-color: hsla(230, 52%, 42%, 1);
  --focus-outer-color: hsla(220, 72%, 73%, 0.85);
  --hover-color: hsla(220, 72%, 73%, 0.55);
  --hover-background-color: hsla(260, 72%, 10%, 0.85);
  --dragging-background-color: hsla(259, 39%, 24%, 0.85);
  --highlight-color: hsla(200, 72%, 83%, 0.35);
  --error-label-color: @red;

  --text-color: var(--color-text-base);
  --text-alt: var(--color-text-alt);
  --control-background-color: var(--color-background-light-20);
  --negative-text-color: var(--color-text-full);
  --negative-background-color: #B00020;
  --negative-icon-color: var(--color-text-base);

  --explore-accent-color: hsla(120, 73.4%, 74.9%, 80%);
}

.site-dark() {
  --site-page-background: var(--color-background);
  --site-text-color: var(--color-text-base);
  --site-hovered-text-color: var(--color-text-alt);
  --site-input-color: var(--input-color);
  --site-border-color: var(--gray);
  --site-input-placeholder-focus-color: var(--color-text-light-45);
  --site-input-placeholder-color: var(--color-text-light-75);
  --site-input-highlight-background: var(--highlight-color);
  --site-input-highlight-color: var(--color-text-full);
  --site-disabled-opacity: 0.65;
}

.form-dark() {

  // ============
  // Light shades
  // ============
  --input-color: var(--color-text-full);

  --form-input-color: var(--color-text-dark-10);
  --form-input-focus-color: var(--color-text-base);
  --form-input-background: var(--control-background-color);
  --form-input-focus-border-color: transparent;
  --form-input-focus-box-shadow: 0 0 0 0.1rem var(--focus-inner-color), 0 0 0 0.2rem var(--focus-outer-color);
  --form-input-hover-border-color: var(--hover-color);
  --form-prompt-text-color: var(--negative-text-color);
  --form-prompt-background: var(--negative-background-color);
}

.button-dark() {
  --button-hover-background-color: lighten(@color-gray-dark, 5%);
  --button-basic-hover-background-color: lighten(@color-gray-dark, 10%);
  --button-background-color: @color-gray-dark;
  --button-text-color: var(--color-text-base);
  --button-tertiary-text-color: var(--button-text-color);
  @tertiaryTextColor: rgba(0, 0, 0, 0.6);
  --button-tertiary-line-color: lighten(@tertiaryTextColor, 20%);
  @tertiaryHoverColor: lighten(fadein(@tertiaryTextColor, 100%), 20%);
  --button-tertiary-hover-color: @tertiaryHoverColor;
  --button-tertiary-hover-line-color: lighten(@tertiaryHoverColor, 20%);
  --button-tertiary-focus-color: @tertiaryHoverColor;
  --button-tertiary-focus-line-color: lighten(@tertiaryHoverColor, 20%);
  @tertiaryActiveColor: lighten(@tertiaryHoverColor, 20%);
  --button-tertiary-active-color: @tertiaryActiveColor;
  --button-tertiary-active-line-color: lighten(@tertiaryActiveColor, 20%);
}

.label-dark() {
  --label-background-color: var(--gray-dark);
  --label-inverted-background-color: darken(@color-gray-dark, 20%);
  --label-ribbon-shadow-color: var(--gray-dark);
}

.tile-dark() {
  --tile-background: var(--color-background-light-8);
  --tile-title-background: var(--color-background-light-12);
  --tile-title-color: var(--color-text-full);
}

.obs-badge-dark() {
  --obs-badge-color: var(--text-color);
  --obs-badge-background: var(--tile-background);
}

.menu-dark() {
  --menu-background: var(--gray-dark);
  --menu-pressed-item-background: darken(@color-gray-dark, 8%);
  --menu-pagination-active-background: darken(@color-gray-dark, 10%);
  --menu-hover-item-background: var(--color-background-light-10);
  --menu-secondary-hover-item-background:  darken(@color-gray-darker, 5%);
  --menu-secondary-hover-item-color: darken(@color-gray-darker, 5%);
  --menu-tabular-active-background: var(--color-background-light-10);
}

.segment-dark() {
  --segment-background: var(--color-background-light-5);
  --segment-stacked-page-background: var(--color-background-light-10);
}

.progress-dark() {
  --progress-background: var(--color-background-dark-5);
}

.popup-dark() {
  --popup-background: var(--color-background-light-3);
  --popup-arrow-background: var(--color-background-light-3);
  --popup-header-border: var(--gray-dark-5);
  --popup-arrow-border: var(--gray-dark-10);
}

.dropdown-dark() {
  --dropdown-selection-background: var(--control-background-color);
  --dropdown-selection-visible-color: @gray-darker;
}

.checkbox-dark() {
  --checkbox-background: var(--control-background-color);
  --checkbox-focus-background: @gray-dark;
  --checkbox-active-background: var(--control-background-color);
  --checkbox-active-focus-background: var(--control-background-color);
  --checkbox-border-color: var(--site-border-color);
  --checkbox-active-color: var(--form-input-color);
  --checkbox-hover-color: var(--input-color);
}

.table-dark() {
  --table-background: var(--color-background-light-3);
  --table-striped-background: var(--color-background-light-6);
  --table-active-background-hover: var(--color-background-light-15);
  --table-header-background: var(--color-background-dark-5);
  --table-footer-background: var(--color-background-dark-5);
}

.modal-dark() {
  --modal-background: var(--color-background-light-8);
}

.dimmer-dark() {
  --dimmer-background-color: rgba(0, 0, 0, 0.85);
}

.dark-theme() {
  // COLORS
  .colors-dark();

  // SUI VARIABLES
  .site-dark();
  .button-dark();
  .label-dark();
  .tile-dark();
  .obs-badge-dark();
  .form-dark();
  .menu-dark();
  .segment-dark();
  .progress-dark();
  .popup-dark();
  .dropdown-dark();
  .checkbox-dark();
  .table-dark();
  .modal-dark();
  .dimmer-dark();

  // EXPLORE VARIABLES
  --sidetab-background: var(--color-background-light-5);
  --explore-group-hover: var(--hover-background-color);
  --explore-group-dragging: var(--dragging-background-color);
}

//=================
// LIGHT THEME VARS
//=================
.colors-light() {
  --focus-inner-color: hsla(240, 72%, 42%, 1);
  --focus-outer-color: hsla(200, 72%, 83%, 0.75);
  --error-label-color: @red;

  --color-text-base-h: 0;
  --color-text-base-s: 0%;
  --color-text-base-l: 0%;
  --color-text-base-a: 0.86;
  --color-text-base-hsla: var(--color-background-base-h), var(--color-background-base-s),
    var(--color-text-base-l), var(--color-text-base-a);
  --color-text-base: hsla(var(--color-text-base-hsla));
  // Light shades
  --color-text-light-45: hsl(
    var(--color-text-base-h),
    var(--color-text-base-s),
    calc(var(--color-text-base-l) + 45%)
  );
  --color-text-light-75: hsl(
    var(--color-text-base-h),
    var(--color-text-base-s),
    calc(var(--color-text-base-l) + 75%)
  );
  --control-background-color: gray;
  --gray: gray;
  --negative-text-color: @negativeTextColor;
  --negative-background-color: @negativeBackgroundColor;
  --negative-icon-color: @negativeBackgroundColor;

  --explore-accent-color: hsl(41, 89.5%, 51.4%);
}

.site-light() {
  --site-page-background: #FFFFFF;
  --site-text-color: rgba(0, 0, 0, 0.87);
  --site-hovered-text-color: rgba(0, 0, 0, 0.8);
  --site-input-color: var(--color-text-base);
  --site-border-color: rgba(34, 36, 38, 0.15);
  --site-input-placeholder-focus-color: var(--color-text-light-45);
  --site-input-placeholder-color: var(--color-text-light-75);
  // site @inputHighlightBackground
  --site-input-highlight-background: rgba(100, 100, 100, 0.4);
  --site-input-highlight-color: var(--site-text-color);
  --site-disabled-opacity: 0.45;
}

.form-light() {
  --input-color: var(--color-text-base);

  --form-input-color: var(--input-color);
  --form-input-focus-color: var(--input-color);
  --form-input-background: @white;
  --form-input-focus-border-color: #85B7D9;
  --form-input-focus-box-shadow: none;
  --form-input-hover-border-color: var(--form-input-focus-border-color);
  --form-prompt-text-color: var(--negative-text-color);
}

.button-light() {
  @textColor: rgba(0, 0, 0, 0.6);
  @tertiaryTextColor: rgba(0, 0, 0, 0.6);
  --button-hover-background-color: #CACBCD;
  --button-basic-hover-background-color: #FFFFFF;
  --button-background-color: #E0E1E2;
  --button-text-color: @textColor;
  --button-tertiary-text-color: @textColor;
  --button-tertiary-line-color: lighten(@tertiaryTextColor, 20%);
  @tertiaryHoverColor: lighten(fadein(@tertiaryTextColor, 100%), 20%);
  --button-tertiary-hover-color: @tertiaryHoverColor;
  --button-tertiary-hover-line-color: lighten(@tertiaryHoverColor, 20%);
  --button-tertiary-focus-color: @tertiaryHoverColor;
  --button-tertiary-focus-line-color: lighten(@tertiaryHoverColor, 20%);
  @tertiaryActiveColor: lighten(@tertiaryHoverColor, 20%);
  --button-tertiary-active-color: @tertiaryActiveColor;
  --button-tertiary-active-line-color: lighten(@tertiaryActiveColor, 20%);
}

.label-light() {
  --label-background-color: #E8E8E8;
  --label-inverted-background-color: darken(#E8E8E8, 20%);
  --label-ribbon-shadow-color: rgba(0, 0, 0, 0.15);
}

.tile-light() {
  --tile-background: @lightGrey;
  --tile-title-background: darken(@lightGrey, 10%);
  --tile-title-color: var(--color-text-base);
}

.obs-badge-light() {
  --obs-badge-color: var(--site-text-color);
  --obs-badge-background: darken(@lightGrey, 10%);
}

.menu-light() {
  --menu-background: #FFFFFF;
  --menu-pressed-item-background: @subtleTransparentBlack;
  --menu-pagination-active-background: @transparentBlack;
  --menu-hover-item-background: @subtleTransparentBlack;
  --menu-secondary-hover-item-background:  var(--tile-title-background);
  --menu-secondary-hover-item-color: var(--input-color);
  --menu-tabular-active-background: none @white;
}

.segment-light() {
  // FIXME it isn't clear which is a segment default background
  --segment-background: @white;
  --segment-stacked-page-background: @subtleTransparentBlack;
}

.progress-light() {
  --progress-background: @strongTransparentBlack;
}

.popup-light() {
  --popup-background: @white;
  --popup-arrow-background: var(--popup-background);
  --popup-header-border: var(--gray-dark-5);
  // FIXME @arrowColor: darken(@borderColor, 10);
  --popup-arrow-border: var(--gray-dark-10);
}

.dropdown-light() {
  --dropdown-selection-background: var(--input-background-color);
  --dropdown-selection-visible-color: @hoveredTextColor;
}

.checkbox-light() {
  --checkbox-background: @white;
  --checkbox-focus-background: @white;
  --checkbox-active-background: @white;
  --checkbox-active-focus-background: @white;
  --checkbox-hover-color: gray;
  --checkbox-active-color: @selectedTextColor;
  --checkbox-border-color: @solidBorderColor;
}

.table-light() {
  --table-background: @white;
  --table-striped-background: rgba(0, 0, 50, 0.02);
  --table-active-background-hover: #EFEFEF;
  --table-header-background: @offWhite;
  --table-footer-background: @offWhite;
}

.modal-light() {
  --modal-background: @white;
}

.dimmer-light() {
  --dimmer-background-color: rgba(0, 0, 0 , 0.15);
}

.light-theme() {
  // Values here come from the default SUI theme
  .colors-light();
  .site-light();
  .button-light();
  .label-light();
  .tile-light();
  .obs-badge-light();
  .form-light();
  .menu-light();
  .segment-light();
  .progress-light();
  .popup-light();
  .dropdown-light();
  .checkbox-light();
  .table-light();
  .modal-light();
  .dimmer-light();

  // EXPLORE VARIABLES
  --sidetab-background: @lightGrey;
  --explore-group-hover: @lightGrey;
  --explore-group-dragging: @grey;
}

body.dark-theme {
  .dark-theme();
}

body.light-theme {
  .light-theme();
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    .dark-theme();
  }
  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    .light-theme();
  }
}

// https://zellwk.com/blog/creating-focus-style/
i.icon.explore-button-icon:hover,
i.icon.explore-button-icon:focus {
  outline: none;
  opacity: 1;
  box-shadow: 0 0 0 0.1rem var(--focus-inner-color),
    0 0 0 0.2rem var(--focus-outer-color);
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

// Mixins
//
.full-height-width {
  height: 100%;
  width: 100%;
}

// Classes
.tilemenu {
  background: darkgray;
}

// Main grid
.main-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 50px minmax(0, 1fr);
  grid-template-rows: 42px auto;
  grid-template-areas:
    "header header"
    "sidebar body";
}

.main-body {
  grid-area: body;
}

.main-title {
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.main-user-name {
  margin-left: auto;
  letter-spacing: 0.1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ui.menu .item.main-user-name {
  flex-shrink: 1;
  display: inline-block;
}

.ui.tabular.menu .item.connection-icon {
  padding-right: 0.5em;
  padding-left: 0;
}

.ui.tabular.menu .item.main-menu-dropdown {
  padding-right: 0.5em;
  padding-left: 0;
}

.ui.menu:not(.vertical) .right.menu.main-menu {
  margin-left: 0px !important; //SUI has !imporant
}

.main-header {
  grid-area: header;
  min-width: 0;

  & > .ui.tabular.menu {
    border-bottom: none;
  }
}

.sidetabs {
  grid-area: sidebar;
  background: var(--sidetab-background);
}

// Taken from the definitíon of ui.button transition but removed background-color and background
// When animating those two properties you see some flickering in FF
.ui.button.side-button {
  border: none;
  transition: opacity @defaultDuration @defaultEasing,
    color @defaultDuration @defaultEasing,
    box-shadow @defaultDuration @defaultEasing;
}

.explore-tile-title {
  background-color: var(--tile-title-background);

  & .tabular.menu .item {
    color: var(--tile-title-color);
    letter-spacing: 0.1em;
  }
}

.explore-tile-body {
  height: ~"calc(100% - @{minHeight})";
  overflow-y: auto;
  background-color: var(--tile-background);
}

.explore-tile {
  .full-height-width();
  background-color: var(--tile-background);
}

.proposal-tile {
  margin: 0.5em;
}

.proposal-tile .explore-tile-body {
  padding: 1em;
}

.react-aladin {
  margin: 2px;
}

// Side tabs
.sidetabs-body {
  height: 100%;
}

.horizontal-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// Vertical handle to resize the tree
.resize-handle {
  width: @resizeHandleWidth;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: ew-resize;
  position: relative;
  margin-left: -@resizeHandleWidth;
  background: black;
  z-index: 1;
}

.maingrid {
  height: 100%;
}

// Area where the grid-layout is placed
.rgl-area,
.tree-rgl {
  .full-height-width();
}

// Section on the left to place the tree
.tree {
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  box-shadow: inset -5px 0px 0px 0px var(--tile-background);

  // Special css to decorate the resize handle. It needs to be very specific
  .react-resizable-handle.react-resizable-handle-e {
    cursor: e-resize;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgd2lkdGg9IjYiIGhlaWdodD0iNiI+CiAgPHBhdGggZD0iTTYgNkgwVjQuMmg0LjJWMEg2djZ6IiBvcGFjaXR5PSIuMzAyIiBmaWxsPSIjZTNkZWRiIi8+Cjwvc3ZnPgo=");
  }
}

.rgl-body {
  height: 100%;
  position: absolute;
  top: 0px;
  overflow-y: scroll;
}

.rgl-placeholder {
  background-color: var(--tile-background);
  height: 100%;
  top: 0px;
  position: absolute;
}

.single-panel-tile {
  .full-height-width();
  position: absolute;
}

.single-panel-area {
  .full-height-width();
}

// Outer area of the body.
.tree-body-outer {
  // A bit narrower to fit the resize handle
  width: ~"calc(100% - @{resizeHandleWidth})";
  height: 100%;
}

// Inner area of the tree
.tree-body-inner {
  height: 100%;
  width: 100%;
}

.obs-tree-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.obs-tree {
  display: flex;
  flex-direction: column;
  min-height: 0;
  justify-content: center;
  background-color: var(--obs-tree-background);
}

.obs-scroll-tree {
  height: calc(100vh - 75px);
  align-self: stretch;
  min-height: 0;
  overflow-y: auto;
}

.obs-item {
  margin: 0px;
  padding: 5px;
}

.obs-count {
  white-space: nowrap;
}

.obs-tree-item {
  margin-left: 25px;
  padding: 5px;
}

.card.obs-badge {
  width: 100%;
  background-color: var(--obs-badge-background);
}

.card.obs-badge .content .meta,
.card.obs-badge .content .description,
.card.obs-badge .content .header {
  color: var(--obs-badge-color);
}

.selected-obs-item {
  background-color: var(--tile-background);
}

.vertical.segment.selected-obs-tree-group {
  background-color: var(--tile-background);
}

.vertical.segment.unselected-obs-tree-group:hover {
  background-color: var(--explore-group-hover);

  & .obs-tree-group-header {
    text-decoration: underline;
  }
}

.vertical.segment.obs-tree-group {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  user-select: none;
}

.obs-tree-group-header {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding-bottom: 1px;
  align-content: center;
}

.trash-icon {
  color: var(--negative-icon-color);
}

.target-label-title {
  flex-grow: 2;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
  text-overflow: ellipsis;
}

.justify-right {
  align-self: center;
  justify-self: end;
}

.obs-tree-buttons {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px 5px 5px;
  background-color: var(--tile-title-background);
}

.dragging-over {
  .vertical.segment {
    background-color: var(--explore-group-dragging) !important;
  }
}

.sky-plot {
  height: 350px;
}

.sky-plot-section {
  height: 390px;
  background-color: white;
  color: black;
}

.sky-plot-section .ui.checkbox + label {
  color: black;
}

.sky-plot-controls {
  display: flex;
  justify-content: space-around;
}

.plot-toggle {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 6px;
}

.plot-toggle.ui.slider.checkbox .box:before,
.plot-toggle.ui.slider.checkbox label:before {
  background-color: #545454 !important;
}

.plot-toggle.ui.slider.checkbox input:focus:checked ~ label:before {
  background-color: #545454 !important;
}

.ui.grid > .row > .column.aladin-column {
  padding-top: 0px;
  padding-bottom: 0px;
}

.aladin-container-column {
  min-height: 500px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: max-content 4fr min-content;
  align-content: stretch;
  grid-template-areas:
    "aladin aladin aladin"
    "fov curr center";
}

.aladin-container-body {
  grid-area: aladin;
  margin-bottom: 0.2em;
}

.aladin-status-fov {
  grid-area: fov;
  justify-self: stretch;
  align-self: center;
}

.aladin-status-current-coordinates {
  grid-area: curr;
  justify-self: end;
  align-self: center;
}

.aladin-status-center-button {
  grid-area: center;
  align-self: center;
}

.aladin-detail-text {
  color: white;
}

.moon-phase {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 10;
}

.connection-ok {
  color: greenyellow;
}

.connection-warning {
  color: gold;
}

.connection-error {
  color: red;
}

.wip {
  position: relative;
  display: inline-block;
}

.wip .wip-warning {
  visibility: hidden;
  width: 120px;
  background-color: yellow;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 3;
  top: 30px;
  left: calc(50% - 60px);
}

.wip:hover .wip-warning {
  visibility: visible;
}

// The Target Position layout
@target-grid-responsive-cutoff: 992px;

.target-grid {
  display: grid;

  grid-gap: 1em;
  padding: 1em;
  grid-template-columns: 1fr 2fr;

  @media (max-width: @target-grid-responsive-cutoff) {
    grid-template-columns: 1fr;
  }
}

.target-aladin-cell {
  height: 100px;
  min-height: 300px; // don't collapse in single column mode.
}

.target-skyplot-cell {
  margin: 0 1em 1em;

  & > .wip {
    display: block; // makes skyplot fill the width.
  }
}

.target-search-form,
.target-properties-form {
  margin-bottom: 1em;
}

.target-properties-form {
  grid-template-columns: [field] 6fr [units] auto;
  justify-items: stretch;

  @media (max-width: @target-grid-responsive-cutoff) {
    display: none;
  }
}

.catalogue-form {
  height: max-content; // keep it from expanding to fill cell
}

// for the ra and dec inputs and the flex container
// that holds them
.target-ra-dec-min-width {
  min-width: 3em;
}

.error-label-mixin() {
  color: var(--error-label-color);
}

.ui.ui.form .field.error > .explore-error-label,
.ui.form .field > .explore-error-label {
  .error-label-mixin();
}

.ui.basic.label.explore-section-label {
  background-color: transparent;
  border: none;
  letter-spacing: 0.15em;
  border-radius: 0;
  border-bottom: 1px solid var(--input-color);
}

.explore-units-label {
  margin-left: 0.25em;
  margin-bottom: 0.2em;
  justify-self: end;
  align-self: end;
}

.proposal-details-grid {
  /*
  When we go to one column, instead of interleaving
  items, we want to put the second column below the first.
  */
  @proposal-details-grid-items: 8;

  each(range(1, @proposal-details-grid-items), {
    @is-odd: boolean(mod(@value, 2) > 0);
    @odd-value: (@value + 1) / 2;
    @even-value: ceil((@value + @proposal-details-grid-items) / 2);
    @row-start: if(@is-odd, @odd-value, @even-value);

    & > *:nth-child(@{value}) {
      @media (max-width: @two-column-break) {
        grid-row-start: @row-start;
      }
    }
  });
}

.minimum-percent {
  width: 5.5em;
  padding-left: 0.5em !important;

  div& .ui.input input {
    text-align: right;
  }

  span& {
    text-align: end;
  }
}

// The split edit button and the band totals
div.partner-split-total {
  &,
  & > div > data {
    width: 5.5em;
  }

  & > div > data {
    text-align: end;
  }
}

.partner-split-data {
  &,
  div& data {
    width: 6em;
  }

  // the text only "hours".
  span& {
    text-align: end;
    padding-right: 6px; // determined empirically from dev tools
  }

  // The div containing the flag and percent text.
  data > div {
    display: flex;

    // The percent text
    span {
      flex: 1;
      text-align: end;
    }
  }
}

img.partner-split-flag {
  height: 16px;
  width: 32px;
  margin-right: 0.5em;
}

.partner-splits-editor-error {
  text-align: left;
  font-size: larger;
}

.ui.table.partner-splits-editor-table {
  th:last-child,
  td:last-child,
  td:last-child > span > div {
    width: 4em;
  }

  .ui.form & input {
    text-align: right;
  }
}

// position all fields relative so that error labels position properly.
.ui .field {
  position: relative;
}

.explore-input-error-tooltip {
  position: absolute;
  transform: translate(0px, -33px);
  left: 30%;
  z-index:3;
}

.ui.button.blended-button {
  border: none;
  background-color: transparent;
  box-shadow: none;

  &:hover {
    outline: 1px var(--site-border-color) solid;
  }
}

.ui.button.delete-button {
  padding: 0.4em 0.4em 0.4em 0.4em;
  margin: 0;
  margin-right: 0.4em;
  border: none;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: center;

  &:hover {
    outline: 1px var(--site-border-color) solid;
  }
}

.ui.form .field.flat-form-field {
  margin-bottom: 0;
}

i.icon.user-astronaut:before { content: "\f4fb"; }

.ui.modal.explore-login-box > .content {
  background-color: var(--modal-background);
}

.explore-login-box-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore-login-title-wrapper {
  overflow: hidden;
  margin-bottom: 4em;
}

.explore-login-title {
  @spacing: 20px;
  transform: translate(-100%, 0%);
  font-weight: 300;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: @spacing;
  text-indent: @spacing;
  animation: showTopText 0.8s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  border-bottom: var(--explore-accent-color) solid 4px;
}

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); opacity: 0; }
  100% { transform: translate3d(0, 0, 0); opacity: 1;}
}

.explore-login-orcid-button {
  display: flex;
  align-items: center;
}

.ui.label.explore-login-button {
  margin-bottom: 1em;
  color: var(--negative-text-color);
  background-color: var(--negative-background-color);
  white-space: wrap;
  max-width: 60%;
  text-align: center;
  display: flex;
  justify-items: center;
}

.ui.button.explore-login-button {
  margin-bottom: 1em;
}

.explore-orcid-icon-menu,
.explore-login-orcid-icon {
  @logosize: 1.18em;
  margin-right: 0.42em;
  vertical-align: baseline;
  width: @logosize;
  height: @logosize;
}

.explore-orcid-menu {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  padding-right: 1em;
}

.explore-orcid-icon-menu {
  margin-right: 0.8em;
}
