@use "highcharts/css/highcharts.scss";

/* Using custom classes for series works, but messes up tooltip border colors.
See https://github.com/highcharts/highcharts/issues/13320 */

.highcharts-container {
  font-family: inherit;
}

.highcharts-background {
  fill: var(--plot-background-color);
}

.highcharts-root text {
  fill: var(--plot-text-color);
}

.highcharts-grid-line {
  stroke: var(--plot-grid-color);
}

.highcharts-minor-grid-line {
  stroke: var(--plot-grid-color);
  stroke-dasharray: 2, 2;
}

.highcharts-tooltip-box {
  fill: var(--plot-tooltip-background-color);
}

.highcharts-legend-item:hover text {
  fill: var(--plot-text-color-hover);
}

.highcharts-legend-item-hidden * {
  fill: var(--plot-text-color-disabled) !important;
  stroke: var(--plot-text-color-disabled) !important;
}

/* Target Elevation */
.highcharts-color-0 {
  fill: #f45b5b;
  stroke: #f45b5b;
}

/* Parallactic angle */
.highcharts-color-1 {
  fill: #8bbc21;
  stroke: #8bbc21;
}

/* Sky Brightness */
.highcharts-color-2,
.plot-sky-brightness-percentile,
.highcharts-plot-line-label {
  fill: #7cb5ec !important;
  stroke: #7cb5ec;
}

/* Lunar Elevation */
.highcharts-color-3 {
  fill: #f7a35c;
  stroke: #f7a35c;
}

.plot-axis-parallactic-angle {
  stroke-width: 0;
  fill: #8bbc21;
}

.plot-axis-parallactic-angle text {
  fill: #8bbc21;
}

.plot-axis-sky-brightness {
  stroke-width: 0;
  fill: #7cb5ec;
}

.plot-axis-sky-brightness text {
  fill: #7cb5ec;
}

.plot-band-twilight-nautical {
  fill: var(--plot-plot-band-color);
  fill-opacity: var(--plot-plot-band-opacity);
}

.plot-band-twilight-nautical-end {
  fill-opacity: 0;
}

.highcharts-plot-band-label {
  fill: #666666;
}

.highcharts-xaxis-grid .highcharts-grid-line {
  stroke-width: 1px;
}

// We force these to override highchart's defaults.
.plot-plot-line-progress {
  stroke-width: 2 !important;
  stroke: green !important;
}

.plot-sky-brightness-percentile {
  stroke-dasharray: 3, 5;
}
