@use 'highcharts/css/highcharts.css';
@use 'explore-common.scss' as exploreCommon;

/* Using custom classes for series works, but messes up tooltip border colors.
See https://github.com/highcharts/highcharts/issues/13320 */

.dark-theme,
.light-theme {
  .highcharts-container {
    font-family: inherit;
  }

  .highcharts-graph {
    stroke-width: 1.5px;
  }

  .highcharts-title {
    fill: var(--plot-text-color);
  }

  .highcharts-subtitle {
    fill: var(--plot-text-color);
  }

  .highcharts-tooltip-box {
    /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
    stroke: var(--plot-tooltip-border-color);
    stroke-width: 0.9px;

    // This is tricky. Without this the background will change depending on the system
    // appeareance like dark mode. But with this, the background will be the correct color
    // regardless
    fill: var(--plot-tooltip-background-color);
  }

  .highcharts-point-inactive,
  .highcharts-series-inactive {
    opacity: 0.5;
  }

  .highcharts-background {
    fill: var(--plot-background-color);
  }

  .highcharts-root :not(.highcharts-series-label) text {
    fill: var(--plot-text-color);
  }

  .highcharts-grid-line {
    stroke: var(--plot-grid-color);
  }

  .highcharts-minor-grid-line {
    stroke: var(--plot-grid-color);
    stroke-dasharray: 2, 2;
  }

  .elevation-plot-series .highcharts-area {
    fill-opacity: 0;
  }

  .elevation-plot-series .elevation-plot-visualization-period {
    fill-opacity: 0.75;
  }

  .plot-elevation-minimum {
    fill: hsl(0deg 87% 66%);
    stroke: hsl(0deg 87% 66%);
    opacity: 0.5;
  }

  .plot-sky-brightness-percentile {
    stroke-dasharray: 3, 5;
  }

  .highcharts-dashed-series {
    stroke-dasharray: 10, 12;
  }

  .highcharts-color-0 {
    fill: hsl(0deg 87% 66%);
    stroke: hsl(0deg 87% 66%);
  }

  /* Parallactic angle */
  .highcharts-color-1 {
    fill: hsl(79deg 70% 43%);
    stroke: hsl(79deg 70% 43%);
  }

  /* Sky Brightness */
  .highcharts-color-2,
  .plot-sky-brightness-percentile,
  .highcharts-plot-line-label {
    fill: hsl(209deg 75% 71%);
    stroke: hsl(209deg 75% 71%);
  }

  /* Lunar Elevation */
  .highcharts-color-3 {
    fill: hsl(27deg 91% 66%);
    stroke: hsl(27deg 91% 66%);
  }

  .plot-axis-parallactic-angle text {
    fill: hsl(79deg 70% 43%) !important;
  }

  .plot-axis-sky-brightness text {
    fill: hsl(209deg 75% 71%) !important;
  }

  .plot-band-exclude-window {
    fill: var(--plot-plot-band-exclude-window-color);
    fill-opacity: var(--plot-plot-band-exclude-window-opacity);
  }

  .plot-band-twilight-nautical {
    fill: var(--plot-plot-band-night-color);
    fill-opacity: var(--plot-plot-band-night-opacity);
  }

  .plot-band-twilight-nautical-end {
    fill-opacity: 0;
  }

  .highcharts-plot-band-label {
    // Twilight labels
    fill: hsl(0deg 0% 60%);
  }

  .highcharts-xaxis-grid .highcharts-grid-line {
    stroke-width: 1px;
  }

  .highcharts-legend-item:hover text {
    fill: var(--plot-text-color-hover);
  }

  .highcharts-legend-item-hidden * {
    fill: var(--plot-text-color-disabled) !important;
    stroke: var(--plot-text-color-disabled) !important;
  }

  // We force these to override highchart's defaults.
  .plot-plot-line-progress {
    stroke-width: 2 !important;
    stroke: gray !important;
  }

  .plot-plot-line-date {
    stroke-width: 2 !important;
    stroke: green !important;
  }

  .plot-sky-brightness-band {
    stroke-width: 0;
  }

  .plot-sky-brightness-band-label {
    fill: hsl(209deg 75% 71%);
  }

  .highcharts-loading {
    background-color: unset;
    opacity: 0.6;
  }

  .itc-plot-body {
    grid-area: plot;
    background-color: var(--plot-background-color);
  }

  .itc-plot-controls {
    align-self: end;
    grid-area: plot-controls;
    background-color: var(--plot-background-color);
    padding: 0.2em;
    display: flex;
    padding-right: 1em;
    padding-left: 1em;
    justify-content: flex-end;

    .itc-plot-help-icon {
      top: exploreCommon.$tile-title-height + 8px;
      margin-left: -10px;
    }
  }

  $description-column-count: 2;

  @mixin first-row {
    &:nth-child(-n + #{$description-column-count}) {
      @content;
    }
  }

  .itc-plot-description {
    grid-area: description;
    display: none;
    column-gap: 0.5em;
    padding: 0.5em;
    grid-template-columns: minmax(100px, 1fr) 1fr;
    background-color: var(--tile-background);
    align-content: start;
    align-items: baseline;

    .text,
    span,
    label {
      font-size: smaller;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    label {
      font-weight: bold;
    }

    span {
      font-weight: lighter;
    }
  }

  .itc-plot-section {
    background-color: var(--plot-background-color);
    color: var(--plot-text-color);
    display: grid;
    flex: 0 0 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 'plot' 'plot-controls';
  }

  .itc-plot-details-toggle {
    display: none;
  }

  @container tile (min-width: #{exploreCommon.$tile-small-cutoff}) {
    .itc-plot-section {
      /* stylelint-disable declaration-block-no-redundant-longhand-properties */
      grid-template-areas: 'description plot' 'description plot-controls';
      grid-template-rows: 1fr max-content;
      grid-template-columns: max-content 1fr;
      /* stylelint-enable declaration-block-no-redundant-longhand-properties */

      &.itc-plot-details-hidden {
        grid-template-columns: 0 1fr;
      }
    }

    .itc-plot-description {
      display: grid;
    }

    .itc-plot-details-toggle {
      display: block;
    }

    .itc-plot-controls {
      justify-content: space-between;
    }
  }

  .highcharts-reset-zoom {
    fill: var(--button-background-color-semi);
    stroke: var(--site-border-color);
  }

  .itc-plot-chart {
    --itc-plot-blue: hsl(207deg 54% 46.9%);
    --itc-plot-lightblue: hsl(187deg 54% 66.9%);
    --itc-plot-green: hsl(118deg 40.6% 48.8%);
    --itc-plot-lightgreen: hsl(98deg 40.6% 68.8%);
    --itc-plot-red: hsl(359deg 79.5% 49.8%);
    --itc-plot-lightred: hsl(339deg 79.5% 69.8%);
    --itc-plot-wavelength-line: hsl(0deg 10% 90%);

    .itc-plot-wavelength-line {
      stroke: var(--itc-plot-wavelength-line);
      stroke-dasharray: 2 2;
    }

    .highcharts-title {
      font-size: 14px;
    }

    .highcharts-subtitle {
      font-size: 10px;
    }

    .highcharts-legend-item {
      font-size: 10px;
    }

    .s2nchart {
      &.highcharts-color-0 {
        fill: var(--itc-plot-lightblue);
        stroke: var(--itc-plot-lightblue);
      }

      &.highcharts-color-1 {
        fill: var(--itc-plot-blue);
        stroke: var(--itc-plot-blue);
      }

      &.highcharts-color-2 {
        fill: var(--itc-plot-lightgreen);
        stroke: var(--itc-plot-lightgreen);
      }

      &.highcharts-color-3 {
        fill: var(--itc-plot-green);
        stroke: var(--itc-plot-green);
      }

      &.highcharts-color-4 {
        fill: var(--itc-plot-lightred);
        stroke: var(--itc-plot-lightred);
      }

      &.highcharts-color-5 {
        fill: var(--itc-plot-red);
        stroke: var(--itc-plot-red);
      }
    }

    .signalchart {
      &.highcharts-color-0 {
        fill: var(--itc-plot-blue);
        stroke: var(--itc-plot-blue);
      }

      &.highcharts-color-1 {
        fill: var(--itc-plot-lightblue);
        stroke: var(--itc-plot-lightblue);
      }

      &.highcharts-color-2 {
        fill: var(--itc-plot-green);
        stroke: var(--itc-plot-green);
      }

      &.highcharts-color-3 {
        fill: var(--itc-plot-lightgreen);
        stroke: var(--itc-plot-lightgreen);
      }

      &.highcharts-color-4 {
        fill: var(--itc-plot-red);
        stroke: var(--itc-plot-red);
      }

      &.highcharts-color-5 {
        fill: var(--itc-plot-lightred);
        stroke: var(--itc-plot-lightred);
      }
    }
  }
}
