@use "highcharts/css/highcharts.scss";

/* Using custom classes for series works, but messes up tooltip border colors.
See https://github.com/highcharts/highcharts/issues/13320 */

.highcharts-container {
  font-family: inherit;
}

.highcharts-background {
  fill: var(--plot-background-color);
}

.highcharts-root text {
  fill: var(--plot-text-color);
}

.highcharts-grid-line {
  stroke: var(--plot-grid-color);
}

.highcharts-minor-grid-line {
  stroke: var(--plot-grid-color);
  stroke-dasharray: 2, 2;
}

.highcharts-tooltip-box {
  fill: var(--plot-tooltip-background-color);
}

/* Target Elevation */
.highcharts-color-0 {
  fill: hsl(0deg 87% 66%);
  stroke: hsl(0deg 87% 66%);
}

/* Parallactic angle */
.highcharts-color-1 {
  fill: hsl(79deg 70% 43%);
  stroke: hsl(79deg 70% 43%);
}

/* Sky Brightness */
.highcharts-color-2,
.plot-sky-brightness-percentile,
.highcharts-plot-line-label {
  fill: hsl(209deg 75% 71%) !important;
  stroke: hsl(209deg 75% 71%);
}

/* Lunar Elevation */
.highcharts-color-3 {
  fill: hsl(27deg 91% 66%);
  stroke: hsl(27deg 91% 66%);
}

.plot-axis-parallactic-angle {
  stroke-width: 0;
  fill: hsl(79deg 70% 43%);
}

.plot-axis-parallactic-angle text {
  fill: hsl(79deg 70% 43%);
}

.plot-axis-sky-brightness {
  stroke-width: 0;
  fill: hsl(209deg 75% 71%);
}

.plot-axis-sky-brightness text {
  fill: hsl(209deg 75% 71%);
}

.plot-band-twilight-nautical {
  fill: var(--plot-plot-band-color);
  fill-opacity: var(--plot-plot-band-opacity);
}

.plot-band-twilight-nautical-end {
  fill-opacity: 0;
}

.highcharts-plot-band-label {
  fill: hsl(0deg 0% 40%);
}

.highcharts-xaxis-grid .highcharts-grid-line {
  stroke-width: 1px;
}

.highcharts-legend-item:hover text {
  fill: var(--plot-text-color-hover);
}

.highcharts-legend-item-hidden * {
  fill: var(--plot-text-color-disabled) !important;
  stroke: var(--plot-text-color-disabled) !important;
}

// We force these to override highchart's defaults.
.plot-plot-line-progress {
  stroke-width: 2 !important;
  stroke: green !important;
}

.plot-sky-brightness-percentile {
  stroke-dasharray: 3, 5;
}

.plot-sky-brightness-band {
  stroke-width: 0;
}

.plot-sky-brightness-band-label {
  fill: hsl(209deg 75% 71%);
}

.highcharts-loading {
  background-color: unset;
  opacity: 0.6;
}
