// media queries cutoff
$tablet-responsive-cutoff: 992px;
$mobile-responsive-cutoff: 670px;

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin full-height-width {
  height: 100%;
  width: 100%;
}
