@use 'datepicker/datepicker.scss';

.react-datepicker {
  font-family: inherit;
}

.react-datepicker-wrapper {
  font-family: inherit;
}

/* stylelint-disable-next-line selector-class-pattern */
.react-datepicker__input-container input {
  background: var(--form-input-background);
  color: var(--form-input-color);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
  font-weight: bold;

  // FIXME Taken from SUI input
  margin: 0;
  outline: none;
  line-height: 1.2143em;
  padding: 0.25em 0.4286em;
  font-size: 1em;
  border: 1px solid var(--site-border-color);
  border-radius: 0.2857rem;
  box-shadow: 0 0 0 0 transparent inset;
  transition: color 0.1s ease, border-color 0.1s ease;

  &:focus {
    color: var(--form-input-focus-color);
    border-color: var(--form-input-focus-border-color);
    box-shadow: var(--form-input-focus-box-shadow);
  }
}

