@use 'common.scss';

$tree-section-width: 300px;

// Scrollbar
*::-webkit-scrollbar {
  width: 0.8em !important;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-background) !important;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-background-thumb) !important;
  border: 1px solid var(--scrollbar-background);

  &:active,
  &:hover {
    background: var(--scrollbar-background-thumb-hover) !important;
  }
}

*::-webkit-scrollbar-corner {
  background: var(--control-background-color);
}

// Full viewport settings taken from https://dev.to/lennythedev/css-gotcha-how-to-fill-page-with-a-div-270j

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  position: fixed;
  min-height: 100svh;

  /* mobile viewport bug fix */
  /* stylelint-disable-next-line value-no-vendor-prefix */
  min-height: -webkit-fill-available;
  width: 100svw;
}

@mixin small-tile-title {
  display: flex;
  gap: 1em;
  font-size: 0.92em;
  align-items: baseline;

  label {
    font-weight: bold;
  }
}

// There is still an analog to this in style.less
@mixin warning-label-mixin {
  color: var(--warning-text-color);
  background-color: var(--warning-background-color);
}

.p-inputgroup.explore-warning-input {
  box-shadow: -0 0 2px 1px var(--warning-background-color);
}

// -----
// Table toolbar
// -----
.explore-table-selection-toolbar {
  display: flex;
  gap: 0.5em;
  align-items: baseline;

  .p-button.pl-compact {
    padding: 0.3929em;
    margin-right: 0.25em;
  }

  .p-button.p-button-sm {
    & svg.p-button-icon:not(.fa-trash-can) {
      margin-right: 0.2rem;
    }
  }
}

// -------------
// Itc tile title
// -------------
.explore-itc-tile-target-selector {
  .p-dropdown-label {
    padding: 0 0.25rem;
  }

  .p-inputtext {
    font-size: smaller;
    white-space: nowrap;
  }
}

.explore-itc-tile-body {
  display: flex;
}

.explore-itc-tile-title {
  display: grid;
  column-gap: 0.5em;
  row-gap: 0;
  font-size: smaller;
  grid-template-columns: repeat(3, minmax(fit-content, 1fr));
  grid-template-rows: repeat(2, min-content);

  & *:nth-child(2n) {
    grid-row: 2
  }

  label {
    @include common.text-ellipsis;
  }

  span {
    @include common.text-ellipsis;
  }

  @media (min-width: common.$mobile-responsive-cutoff) {
    @include small-tile-title;

    display: grid;
    justify-content: end;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, min-content);

    *,
    *:nth-child(2n) {
      grid-row: 1;
    }
  }
}

// ------
// Obs time editor
// ------
@mixin react-datepicker-wrapper {
  & .react-datepicker-wrapper {
    width: unset;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}

@mixin react-datepicker-input {
  /* stylelint-disable-next-line selector-class-pattern */
  & .react-datepicker__input-container input {
    text-shadow: unset;
    font-weight: unset;
  }
}

.explore-obs-instant-tile-title {
  @include small-tile-title;
  @include react-datepicker-input;
  @include react-datepicker-wrapper;

  justify-content: center;
  flex-grow: 0;
  font-size: smaller;

  label:first-child {
    @include common.text-ellipsis;

    max-width: 5ch;
  }

  label:last-child {
    display: none;
  }

  label[data-abbrv]::after {
    content: attr(data-abbrv);
  }

  label[data-abbrv]>span {
    display: none;
  }

  @media (min-width: common.$tablet-responsive-cutoff) {
    label:first-child {
      max-width: unset;
    }

    label[data-abbrv]::after {
      content: '';
    }

    label[data-abbrv]>span {
      display: unset;
    }

    label:last-child {
      display: inline;
    }
  }

  @media (min-width: common.$mobile-responsive-cutoff) {
    label:first-child {
      display: unset;
    }
  }
}

// ------
// Sidereal Target Editor
// ------
.explore-brightnesses-wrapper {
  grid-column: 1 / -1;
  justify-self: stretch;
  align-self: stretch;
}

.explore-brightnesses-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.explore-brightnesses-units-dropdown.p-dropdown {
  white-space: nowrap;
  width: 100%;
}

.explore-brightnesses-delete-button-wrapper {
  display: flex;
  justify-content: center;

  .p-button.delete-button {
    padding: 0;
    flex-shrink: 0;
  }
}

.target-grid {
  display: grid;
  grid-gap: 0.5em;
  grid-row-gap: 0.3em;
  padding: 0.5em;
  height: 100%;

  .explore-title-undo-buttons {
    grid-area: undo;
  }

  .target-aladin-cell {
    grid-area: aladin;
  }

  .target-form {
    grid-area: coordinates;
  }

  .target-proper-motion-form {
    grid-area: proper-motion;

    .p-inputgroup>span:first-of-type {
      width: 4em;
    }
  }

  .target-source-profile-editor {
    grid-area: source-profile;
  }
}

.target-rv-controls {
  justify-self: stretch;

  .explore-grow-1 {
    margin-left: 0.3em !important;
  }
}

@mixin hide-hidden-target-cells($all) {
  @if $all {
    .explore-title-undo-buttons {
      display: none;
    }

    .target-form {
      display: none;
    }
  }

  .target-proper-motion-form {
    display: none;
  }

  .target-source-profile-editor {
    display: none;
  }
}

.tile-xl-width,
.tile-lg-width,
.tile-md-width,
.tile-sm-width {
  .target-grid {
    grid-template:
      'undo           aladin' min-content
      'coordinates    aladin' min-content
      'proper-motion  aladin' min-content
      'source-profile aladin' 1fr
      / 1fr 2fr;
  }

  .target-aladin-cell {
    grid-row: span 4;
  }
}

.tile-xs-width {
  .target-grid {
    @include hide-hidden-target-cells(false);

    grid-template:
      'undo' min-content
      'coordinates' min-content
      'aladin' 1fr
      / 1fr
  }
}

.target-tile-body {
  display: flex;
  flex-direction: column;

  >div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.target-tile-editor {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.aladin-full-screen {
  .explore-shared-edit-warning,
  .target-asterism-table {
    display: none;
  }

  >div .target-grid {
    @include hide-hidden-target-cells(true);

    grid-template:
      'aladin' 1fr
      / 1fr;
  }
}

.pl-form-column.target-source-profile-editor {
  align-self: stretch;
  grid-template-rows: repeat(3, auto) 1fr;

  &.gaussian {
    grid-template-rows: repeat(4, auto) 1fr;
  }
}

.explore-brightnesses-footer {
  display: flex;
  justify-content: flex-start;
  padding: 0.2em;
  border-top: 0.2px solid var(--under-tab-border-color);
  background-color: var(--table-footer-background);

  .pl-form-field-label {
    flex-shrink: 0;
  }

  .pl-form-field {
    margin-left: 5px;
    width: 15em;
  }

  .p-button {
    margin-left: 5px;
    flex-shrink: 0;
  }
}

// ------
// Asterism Editor
// ------

.explore-shared-edit-warning {
  @include warning-label-mixin;

  padding: 0.4em;

  .pl-radiobutton-with-label {
    padding-left: 2em;

    .p-radiobutton .p-radiobutton-box.p-highlight {
      border-color: black;
      background-color: black;
    }
  }
}

// ------
// Target search popup styles
// ------

.explore-target-search-form {
  display: grid !important;
  flex-direction: column;
  max-height: 85vh; // Don't let the form grow too large

  .p-dialog-footer>div {
    display: flex;
    justify-content: space-between;
  }
}

$search-preview-height-mobile: 150px;
$search-preview-width: 250px;
$search-preview-margin: 5px;

.explore-target-search-content {
  position: relative;
  display: grid !important;
  min-height: $search-preview-height-mobile;
  max-height: 80vh; // Don't let the form grow too large
  gap: 0.3em;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: auto;
  grid-template-columns: 1fr;
  grid-auto-rows: fit-content;

  .pl-header {
    padding: 0.2em;
    margin: 0;
    margin-bottom: 0.2em;
  }

  @media (min-width: common.$tablet-responsive-cutoff) {
    min-height: calc($search-preview-width + 2 * $search-preview-margin);
    padding-right: calc($search-preview-width + 3 * $search-preview-margin ) !important;
    padding-bottom: $search-preview-margin;
    grid-template-rows: min-content min-content;
  }
}

.explore-target-search-top {
  @media (min-width: common.$tablet-responsive-cutoff) {
    gap: 0.3em;
  }
}

.explore-target-search-input {
  margin-bottom: 0.5em;
}

@mixin target-search-preview {
  min-width: $search-preview-width;
  min-height: $search-preview-height-mobile;

  @media (min-width: common.$tablet-responsive-cutoff) {
    position: absolute;
    right: 0;
    margin-right: $search-preview-margin;
    height: calc($search-preview-width + $search-preview-margin);
  }
}

.explore-target-search-preview {
  @include target-search-preview;

  .aladin-container {
    border: 1px solid var(--site-border-color);
    border-radius: 0.28rem;
  }
}

.explore-target-search-preview-placeholder {
  @include target-search-preview;

  display: flex;
  border: 1px solid var(--site-border-color);
  border-radius: 0.28rem;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(-45deg,
      black,
      black 10px,
      var(--site-border-color) 10px,
      var(--site-border-color) 11px);
}

.explore-target-search-results {
  border: 1px solid var(--site-border-color);
  border-radius: 0.28rem;
  overflow-y: auto;
  overflow-x: auto;
}

.explore-sequences-panel {
  overflow-x: auto;
}

// -------------
// Toolbar of the aladin display
// -------------
.aladin-status-fov {
  grid-area: fov;
  justify-self: stretch;
  align-self: center;
}

@mixin aladin-gs-status {
  display: none;
  margin-left: 0.5em;

  @media (min-width: common.$mobile-responsive-cutoff) {
    display: block;
  }
}


.aladin-status-gs {
  @include aladin-gs-status;
  @include common.text-ellipsis;

  grid-area: guidestar;
  align-self: center;
  font-size: smaller;
}

.aladin-status-gs-loading {
  @include aladin-gs-status;

  grid-area: agsstatus;
  align-self: center;

  svg.fa-circle-small.explore-warning-icon {
    --fa-beat-scale: 1.2;

    color: var(--warning-background-color);
  }

  svg.fa-circle-small.explore-error-icon {
    color: var(--error-background-color);
  }
}

.aladin-status-current-coordinates {
  grid-area: curr;
  justify-self: end;
  align-self: center;
  white-space: nowrap;
}

.aladin-status-center-button {
  grid-area: center;
  align-self: center;
}

.aladin-detail-text {
  color: white;
  white-space: nowrap;
}

// ------
// Obs badge
// ------

.ui.button.obs-clone-button,
.ui.button.delete-button.obs-delete-button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0 !important;

  &:hover {
    outline: 1px var(--site-border-color) solid;
  }

  svg {
    margin: 0 !important;
  }
}

.pl-react-table.pl-celled-table {
  .p-datatable-tbody>tr>td.explore-table-cell-hide-border {
    border-left-width: 0;
  }
}

// ------
// Advanced Configuration
// ------
.explore-advanced-configuration-buttons {
  grid-area: buttons;
  justify-self: end;
}

.explore-advanced-configuration-grid {
  display: grid;
  padding: 0.5em;
  grid-gap: 1em;
  grid-template:
    'col1 col2 col3' auto
    'col1 buttons buttons' auto
    / 1fr 1fr 1fr;

  label.explore-indent-label {
    text-indent: 2em;
  }
}

.tile-sm-width,
.tile-xxs-width,
.tile-xs-width {
  .explore-advanced-configuration-grid {
    grid-template:
      'col1' auto
      'col2' auto
      'col3' auto
      'buttons' auto
      / auto;
  }
}

.explore-advanced-configuration-col1 {
  grid-area: col1;
}

.explore-advanced-configuration-col2 {
  grid-area: col2;
}

.explore-advanced-configuration-col3 {
  grid-area: col3;
}


// ------
// Constraints
// ------
.constraints-grid {
  padding: 0.5em;
  display: grid;
  align-items: baseline;
  gap: 0.3em 0.5em;

  --column-wide-span: 3;

  grid-template-columns: [label1] max-content [field1] minmax(20ch, 3fr) [label2] max-content [field2] minmax(20ch,
      3fr);

  .elevation-range-picker {
    width: 9em;
  }

  .elevation-range-entry {
    width: 8em;

    input {
      width: 100%;
    }
  }

  .constraints-elevation-range {
    display: flex;
    gap: 0.3em 0.5em;
    align-items: baseline;
    justify-self: stretch;
    grid-column: 2 / span var(--column-wide-span);
  }
}

.tile-xxs-width,
.tile-xs-width {
  .constraints-grid {
    --column-wide-span: 1;

    grid-template-columns: max-content 1fr;

    .elevation-range-picker {
      grid-column: -1 / 1;
    }

    .constraints-elevation-range {
      flex-direction: column;
      justify-items: stretch;
      display: grid;
      grid-template-columns: max-content 1fr;

      .field {
        width: 100%;
      }

      label:last-child {
        display: none;
      }
    }
  }
}

// ------
// Programs Popup
// ------
.programs-popup.p-dialog {
  .ui.button.compact.program-name-edit {
    margin-left: 0.5em;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ui.button.compact.program-name-delete {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .program-table {
    height: 400px;
  }

  .program-name {
    @include common.text-ellipsis;

    width: 100%
  }

  .program-name-input {
    width: 100%;
  }

  .p-dialog-content .explore-programs-popup-faux-footer {
    padding-top: 1rem;
    vertical-align: middle;

    .p-button:first-child {
      margin-right: 1.5em;
    }

    .p-button:last-child {
      float: right;
    }
  }
}

// ------
// About and login dialogs
// ------
i.icon.user-astronaut::before {
  content: '\f4fb';
}

.explore-login-box-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore-login-messages-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;

  .p-inline-message:first-child {
    margin-top: 2em;
  }
}

// This style is also used on the proposal tab
.explore-login-button {
  &.p-button {
    margin-bottom: 1em;

    &:first-child {
      margin-top: 2em;
    }
  }

  .explore-login-orcid-button {
    display: flex;
    align-items: center;
  }
}

.explore-login-title-wrapper {
  overflow: hidden;
  margin-bottom: 2em;
  line-height: 1.4;
}

.explore-login-title {
  $spacing: 20px;

  transform: translate(-100%, 0%);
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: $spacing;
  text-indent: $spacing;
  animation: show-top-text 0.8s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  border-bottom: var(--explore-accent-color) solid 4px;
}

@keyframes show-top-text {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.explore-orcid-icon-menu,
.explore-login-orcid-icon {
  $logosize: 1.18em;

  margin-right: 0.42em;
  vertical-align: baseline;
  width: $logosize;
  height: $logosize;
}

.explore-orcid-menu {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  padding-right: 1em;
}

.explore-orcid-icon-menu {
  margin-right: 0.8em;
}

.version {
  font-size: smaller;
  float: right;

  // CopyToClipboard
  div {
    display: inline-block;
    margin-left: 5px;
  }

  .uncopied {
    // CopyToClipboard
    div {
      cursor: pointer;
    }
  }
}

// ------
// Proposals and Partner Splits
// ------
img.partner-split-flag {
  height: 16px;
  width: 32px;
  margin-right: 0.5em;
}

.partner-splits-editor-dialog {
  .pl-react-table.p-component {
    width: 100%;
    table-layout: auto;

    th,
    td {
      width: 17em !important;
    }

    th:last-child,
    td:last-child,
    td:last-child>span>div {
      width: 4em !important;
    }

    tfoot tr th,
    .p-inputtext {
      text-align: right;
      padding: 0.5em;
    }
  }

  &.p-dialog.p-component .p-dialog-footer {
    .p-inline-message {
      float: left;
      vertical-align: middle;
    }
  }
}

// ------
// Icons
// ------
.explore-warning-icon {
  color: var(--warning-background-color);
}

// ------
// Generic table
// ------
.explore-table {
  overflow-x: auto;
  min-width: 100%;
  position: relative;

  table {
    min-height: 60px;
    width: 100%;
  }

  tr.explore-table-row-selected {
    position: relative;
    box-shadow: inset 0 1px 0 0 var(--explore-selected-box-color),
      inset 0 -1px 0 0 var(--explore-selected-box-color) !important; // Important used to override hover.

    background: var(--table-selected-background) !important;

    td:first-child::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 0;
      border-color: transparent var(--explore-selected-box-color) transparent transparent;
      left: 0;
      top: 0;
      transform: rotate(-90deg);
    }
  }

  .selected-row-ribbon {
    position: absolute;;
  }

  .scroll-button {
    position: absolute;
    right: 2em;
    border-color: var(--explore-selected-box-color) !important;
  }

  & .selected-up {
    top: 10em;
  }

  & .selected-down {
    bottom: 6em;
  }
}

.explore-border-table,
table.explore-border-table {
  border: 1px solid var(--site-border-color);
  border-radius: var(--border-radius);
}

.explore-selectable-table {
  tr {
    user-select: none;
  }
}

// ------
// Toasts
// ------
.explore-toast {
  .p-toast-message-content {
    align-items: center;
    font-size: small;
    justify-content: space-between;

    /* stylelint-disable-next-line selector-class-pattern */
    span > svg.svg-inline--fa {
      padding-right: 0.5em;
    }

    .explore-prompt-toast {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;

      button {
        align-self: end;
      }
    }
  }
}


// -----
// Toolbar over summary tables
// ------
.summary-table-toolbar {
  padding: 0.25rem;
}


.p-button.p-fileupload {
  + input[type="file"] {
    display: none;
  }
}

// ----
// Target import dialog
// ----
.explore-target-import-dialog {
  width: 500px;
}

.explore-target-import-form {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template:
    "progress msg" 1fr
    "errors   errors" min-content / 1fr 3fr;
  row-gap: 0.5rem;
  min-width: 20vw;
  max-width: 760px;

  .p-progress-spinner {
    grid-area: progress;
    height: 4rem;
    width: 4rem;
    margin: 0.5rem 2rem;
  }

  .explore-target-import-description {
    grid-area: msg;
    display: flex;
    flex-direction: column;
    justify-self: end;
    margin-right: 2rem;
    overflow: hidden;
  }

  .explore-target-import-errors {
    grid-area: errors;
    height: 300px;
  }

  svg.fa-check {
    grid-area: progress;
    color: var(--explore-accent-color);
  }
}

// ----------
// Main grid
// ----------
.main-grid {
  $top-bottom-space: 42px;

  display: grid;
  height: 100vh;
  height: 100svh;
  width: 100%;
  overflow: hidden;
  grid-template:
    'header' $top-bottom-space
    'body' minmax(calc(100% - $top-bottom-space - $top-bottom-space), 1fr)
    'sidebar' #{$top-bottom-space} / 1fr;

  @media (min-width: common.$tablet-responsive-cutoff) {
    grid-template:
      'header header' $top-bottom-space
      'sidebar body' minmax(calc(100% - $top-bottom-space), 1fr) / 50px auto;
  }
}


// --------------------
// Main grid definition
// --------------------
@supports (-webkit-touch-callout: none) {
  .main-grid {
    /* The hack for Safari */
    /* stylelint-disable-next-line value-no-vendor-prefix */
    height: -webkit-fill-available;
  }
}

.main-body {
  grid-area: body;
  max-width: 100svw;
  overflow: hidden;
  display: grid;
  justify-items: stretch;
}

// ------------
// Two panel pages
// Area where the grid-layout is placed
// ------------
.tree-rgl {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  display: flex;
}

// Section on the left to place the tree
.tree {
  display: flex;
}

// Inner area of the tree
.tree-body {
  width: 100vw;

  @media (min-width: common.$mobile-responsive-cutoff) {
    width: $tree-section-width;
    border: {
      right: solid 1px var(--under-tab-border-color);
      left: solid 1px var(--under-tab-border-color);
    }
  }
}

.multi-panel-tile,
.single-panel-tile {
  flex-shrink: 1;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: auto;
}

.tree-toolbar {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 5px;
  background-color: var(--tile-title-background);
}

// ------
// Obs-tree
// -----
.obs-scroll-tree {
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  padding: {
    top: 0.2em;
    right: 0.2em;
    left: 0.2em;
  };
}

.obs-tree-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 0;
  height: 100%;
  overflow: hidden;
}

// -------
// Help sidebar
// -------
.explore-help-icon {
  margin-left: 0.5em;
  cursor: pointer;
  color: var(--site-text-color);
}

.explore-help-icon-floating {
  position: absolute;
  top: 3px;
  z-index: 10;
}

.p-sidebar.explore-help-sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--help-background-color);

  & .p-sidebar-header {
    display: none;
  }

  & .p-sidebar-content {
    padding: 0;
    overflow-y: unset;

    & > div {
      height: 100%;
    }

  }
}

.explore-help-title {
  display: flex;
  flex: 0 1 auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--control-background-color);
  padding: {
    left: 0.6em;
    top: 0.6em;
    bottom: 0.6em;
  }
}

.explore-help-title-label {
  margin-bottom: 0;
}

.explore-help-body {
  flex: 1 1 auto;
  overflow: auto;
  height: 100%;
  min-height: 100%;
  background-color: var(--help-background-color);
}

// make it wider on smaller screens
@media screen and (max-width: 64em) {
  .p-sidebar-left .p-sidebar-md,
  .p-sidebar-right .p-sidebar-md {
      width: 30rem;
  }
}

.markdown-body {
  padding: 1em;
  overflow: auto;

  /* stylelint-disable-next-line selector-class-pattern */
  svg.svg-inline--fa {
    color: hsl(210deg 12.2% 16.1%);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  & * {
    text-shadow: none;
    color: black;
  }
}

// --------------
// Timing windows
// --------------
@mixin timing-window-list {
  margin-bottom: 0.5em;
  border: solid 1px var(--under-tab-border-color);
  min-height: var(--timing-windows-height);
  height: var(--timing-windows-height);
  grid-area: table;
}

.timing-windows-body {
  --timing-windows-height: 200px;

  padding: 0.5em;
  display: grid;
  grid-template:
    'table table' min-content
    'editor add' min-content / 1fr min-content;

  @media (min-width: common.$mobile-responsive-cutoff) {
    --timing-windows-height: 300px;
  }

  .timing-windows-header {
    display: none;
    height: 0;

    & tr {
      height: 0;
    }
  }

  .timing-windows-empty {
    @include timing-window-list;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
  }

  .timing-windows-table {
    @include timing-window-list;
  }

  .timing-window-editor {
    @include react-datepicker-input;
    @include react-datepicker-wrapper;

    grid-area: editor;
    padding: 0.5em;
    font-size: smaller;

    .p-inputgroup input {
      font-size: 96%;
    }

    span {
      display: inline-block;
    }

    .p-radiobutton {
      margin-right: 0.3em;
    }

    > * {
      margin-bottom: 0.5em;
    }

    .timing-window-repeat-editor {
      margin-left: 1.5em;
    }

    .timing-window-remain-open, .timing-window-repeat-editor, .timing-window-repeat-editor-n-times {
      display: flex;
      align-items: baseline;

      label {
        margin-right: 0.5em;
      }

      .pl-form-field {
        margin-right: 0.5em;
        width: 9ch;
      }
    }

    .timing-window-repeat-editor-alternatives {
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
      margin-top: 0.5em;
      margin-left: 3em;
    }
  }

  .p-button {
    grid-area: add;
    align-self: start;
  }
}

// Move to lucuma-ui?
.explore-table:has(.p-datatable-emptymessage) {
  tr.p-datatable-emptymessage {
    background: none;
  }
}

.explore-table:has(.p-datatable-emptymessage):has(.explore-table-emptymessage) {
  width: 100%;
}

.p-datatable-emptymessage {
  div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%);
    font-size: 1.3em;
    border-bottom: var(--explore-accent-color) solid 2px;
  }
}

div.spectroscopy-table-emptymessage {
  left: 10px;
  transform: unset;
}

