$tile-title-height: 36px;
$tree-section-width: 300px;
$tile-large-cutoff: 1200px;
$tile-medium-cutoff: 996px;
$tile-small-cutoff: 576px; // Taken from Costants.scala, keep them in sync
$tile-xtra-small-cutoff: 300px;
