// media queries cutoff
$tablet-responsive-cutoff: 992px;
$mobile-responsive-cutoff: 670px;

@mixin small-tile-title {
  display: flex;
  gap: 1em;
  font-size: 0.92em;
  align-items: baseline;

  label {
    font-weight: bold;
  }
}

.explore-itc-tile-title {
  @include small-tile-title;
}

// ------
// Obs time editor
// ------
@mixin react-datepicker-wrapper {
  width: unset;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.explore-obs-instant-tile-title {
  @include small-tile-title;

  justify-content: center;
  flex-grow: 0;

  & .react-datepicker-wrapper {
    @include react-datepicker-wrapper;
  }

  label:first-child {
    max-width: 5ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  label:last-child {
    display: none;
  }

  label[data-abbrv]::after {
    content: attr(data-abbrv);
  }

  label[data-abbrv] > span{
    display: none;
  }

  @media (min-width: $tablet-responsive-cutoff) {
    label:first-child {
      max-width: unset;
    }

    label[data-abbrv]::after {
      content: "";
    }

    label[data-abbrv] > span{
      display: unset;
    }

    label:last-child {
      display: inline;
    }
  }

  @media (min-width: $mobile-responsive-cutoff) {
    label:first-child {
      display: unset;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  & .react-datepicker__input-container input {
    text-shadow: unset;
    font-weight: unset;
    font-size: smaller;
  }

}

// ------
// Target search popup styles
// ------
.visible.transition.explore-target-search-form {
  display: flex !important;
  flex-direction: column;
}

.explore-target-search-form {
  max-height: 85vh; // Don't let the form grow too large

  .content {
    flex-shrink: 1;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }
}

.explore-target-search-content {
  display: grid !important;
  max-height: 80vh; // Don't let the form grow too large
  gap: 0.3em;
  align-items: stretch;
  // max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  grid-template-columns: 1fr;
  // grid-template-rows: min-content min-content min-content;
}

.explore-target-search-top {

  @media (min-width: $tablet-responsive-cutoff) {
    gap: 0.3em;
  }

}

.explore-target-search-input {
  // flex-grow: 2;
  margin-bottom: 0.5em;
}

@mixin target-search-preview {
  min-width: 150px;
  height: 150px;
}

.explore-target-search-preview {
  @include target-search-preview;
}

.explore-target-search-preview-placeholder {
  @include target-search-preview;
  border: 1px solid var(--site-border-color);

  background: repeating-linear-gradient(
    -45deg,
    black,
    black 10px,
    var(--site-border-color) 10px,
    var(--site-border-color) 11px
  );

  border-radius: 0.28rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-target-search-results {
  max-height: 40vh; // Don't let the form grow too large
  overflow-y: auto;
}

.explore-target-search-results-source {
  max-height: 30vh;
  overflow-x: auto;
  overflow-y: auto;
}

// -------------
// Toolbar of the aladin display
// -------------
.aladin-status-fov {
  grid-area: fov;
  justify-self: stretch;
  align-self: center;
}

@mixin aladin-gs-status {
  display: none;
  margin-left: 0.5em;

  @media (min-width: $mobile-responsive-cutoff) {
    display: block;
  }
}

.aladin-status-gs {
  @include aladin-gs-status;

  grid-area: guidestar;
  align-self: center;
  font-size: smaller;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.aladin-status-gs-loading {
  @include aladin-gs-status;

  grid-area: agsstatus;
  align-self: center;

  svg.fa-circle-small.explore-warning-icon {
    --fa-beat-scale: 1.2;

    color: var(--warning-background-color);
  }

  svg.fa-circle-small.explore-error-icon {
    color: var(--error-background-color);
  }
}

.aladin-status-current-coordinates {
  grid-area: curr;
  justify-self: end;
  align-self: center;
  white-space: nowrap;
}

.aladin-status-center-button {
  grid-area: center;
  align-self: center;
}

.aladin-detail-text {
  color: white;
  white-space: nowrap;
}
