@use 'common.scss';

/* stylelint-disable no-invalid-position-at-import-rule */
.light-theme {
  @import "/lucuma-css/light-theme";
}

.dark-theme {
  @import "/lucuma-css/dark-theme";
}

@import "/lucuma-css/lucuma-ui";
/* stylelint-enable no-invalid-position-at-import-rule */

// specific to Explore - may be able to remove this when we're fully primereact - may have to apply to tiles or something
.constraints-tile .explore-tile-body,
.explore-advanced-configuration-grid {
  background-color: var(--surface-card);
}

.p-component.p-dialog {
  &.pl-dialog-small {
    max-width: 95%;

    @media (min-width: common.$tablet-responsive-cutoff) {
      max-width: 760px;
    }
  }
}
