@use '/lucuma-css/lucuma-ui-common.scss';

/* stylelint-disable no-invalid-position-at-import-rule */
.light-theme {
  @import '/lucuma-css/light-theme';
}

.dark-theme {
  @import '/lucuma-css/dark-theme';
}

@import '/lucuma-css/lucuma-ui-prime';
/* stylelint-enable no-invalid-position-at-import-rule */

// specific to Explore - may be able to remove this when we're fully primereact - may have to apply to tiles or something
.constraints-tile .explore-tile-body,
.explore-configuration-grid {
  background-color: var(--surface-card);
}

// TODO: Move to lucuma-ui
// From the SUI Header component
.pl-header {
  font-size: 1.2857em;
  font-weight: bold;
  line-height: 1.2857em;
  margin: calc(2rem - 0.1429em) 0 1rem;

  &.pl-small {
    font-size: 1.0714em;
  }
}
