// media queries cutoff
$tablet-responsive-cutoff: 992px;
$mobile-responsive-cutoff: 670px;

@mixin small-tile-title {
  display: flex;
  gap: 1em;
  font-size: 0.92em;
  align-items: baseline;

  label {
    font-weight: bold;
  }
}

.explore-itc-tile-title {
  @include small-tile-title;
}

@mixin react-datepicker-wrapper {
  width: unset;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.explore-obs-instant-tile-title {
  @include small-tile-title;

  justify-content: center;
  flex-grow: 0;

  & .react-datepicker-wrapper {
    @include react-datepicker-wrapper;
  }

  label:first-child {
    max-width: 5ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  label:last-child {
    display: none;
  }

  label[data-abbrv]::after {
    content: attr(data-abbrv);
  }

  label[data-abbrv] > span{
    display: none;
  }

  @media (min-width: $tablet-responsive-cutoff) {
    label:first-child {
      max-width: unset;
    }

    label[data-abbrv]::after {
      content: "";
    }

    label[data-abbrv] > span{
      display: unset;
    }

    label:last-child {
      display: inline;
    }
  }

  @media (min-width: $mobile-responsive-cutoff) {
    label:first-child {
      display: unset;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  & .react-datepicker__input-container input {
    text-shadow: unset;
    font-weight: unset;
    font-size: smaller;
  }

}

// -------------
// Toolbar of the aladin display
// -------------
.aladin-status-fov {
  grid-area: fov;
  justify-self: stretch;
  align-self: center;
}

@mixin aladin-gs-status {
  display: none;
  margin-left: 0.5em;

  @media (min-width: $mobile-responsive-cutoff) {
    display: block;
  }
}

.aladin-status-gs {
  @include aladin-gs-status;

  grid-area: guidestar;
  align-self: center;
  font-size: smaller;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.aladin-status-gs-loading {
  @include aladin-gs-status;

  grid-area: agsstatus;
  align-self: center;

  svg.fa-circle-small.explore-warning-icon {
    --fa-beat-scale: 1.2;

    color: var(--warning-background-color);
  }

  svg.fa-circle-small.explore-error-icon {
    color: var(--error-background-color);
  }
}

.aladin-status-current-coordinates {
  grid-area: curr;
  justify-self: end;
  align-self: center;
  white-space: nowrap;
}

.aladin-status-center-button {
  grid-area: center;
  align-self: center;
}

.aladin-detail-text {
  color: white;
  white-space: nowrap;
}

