@keyframes append-animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin common-tooltip {
  position: absolute;
  background-color: var(--tooltip-background-color);
  z-index: var(--tooltip-z-index);
  animation: append-animate 180ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-theme,
.light-theme {
  .tooltip {
    @include common-tooltip;

    border: var(--tooltip-border-width) solid var(--tooltip-border-color);
    border-radius: 3px;
    padding: 0.7em;
    font-size: smaller;
    display: inline;
    min-width: 100px;
    width: max-content;
    word-break: break-word;

    span {
      word-wrap: break-word;
    }
  }

  .arrow {
    @include common-tooltip;

    border: 0 solid var(--tooltip-border-color);
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
  }

  .svg-target-tooltip-area {
    pointer-events: fill;
    fill: none;
  }

  .svg-target-tooltip {
    @include common-tooltip;

    fill: var(--tooltip-viz-background-color);
    font-size: var(--tooltip-font-size);

    path {
      stroke: var(--tooltip-viz-text-color);
      stroke-width: 1;
      vector-effect: non-scaling-stroke;
    }

    text {
      fill: var(--tooltip-viz-text-color);
      font-size: var(--tooltip-font-size);
    }
  }
}
