.aladin-container {
  overflow: hidden; // Needed to keep the visualization svg inside the component
}

.aladin-container-body {
  grid-area: aladin;
  position: relative;
  margin-bottom: 0.2em;
}

.visualization-display {
  display: inline !important; // we use this as a toggle thus we need important set
}

.visualization-overlay-svg {
  position: absolute;
  pointer-events: none; // let aladin get pointer events
  z-index: 40;

  .viz-polygon {
    stroke: gray;
    stroke-width: 2px;
    fill: none;
    vector-effect: non-scaling-stroke;
  }

  .gmos-probe-arm {
    stroke: hsl(0, 67.9%, 41.6%);
    outline: 1px solid red;
  }

  .gmos-patrol-field {
    stroke: hsl(120, 100%, 50%);
    fill: none;
    stroke-width: 1px;
    stroke-dasharray: 10;
  }

  .gmos-fpu > polygon {
    stroke: blue;
    stroke-width: 0.8px;
    fill: lightgray;
    fill-opacity: 0.1;
  }

  .gmos-science-area polygon {
    display: none;
    stroke: purple;
    fill: black;
    fill-opacity: 1;
  }

  .gmos-science-ccd-offset polygon {
    display: none;
    stroke: yellow;
    fill-opacity: 0.1;
  }

  .gmos-science-ccd polygon {
    display: none;
    stroke: cyan;
    fill-opacity: 0.1;
  }

  .gmos-candidates-area {
    display: none;
    fill-opacity: 0;
    stroke: lightgreen;
    stroke-width: 0.4px;
    stroke-dasharray: 1.5;

    &.guide-star-candidate-target-visible {
      display: inline;
    }
  }

  .viz-svg-border {
    stroke: yellow;
    stroke-width: 2px;
    vector-effect: non-scaling-stroke;
    stroke-dasharray: 1;
  }

  .viz-svg-center {
    display: none;
    stroke: green;
    stroke-width: 2px;
    vector-effect: non-scaling-stroke;
  }
}

.targets-overlay-svg {
  pointer-events: none; // let aladin get pointer events
  position: absolute;
  z-index: 30;

  circle,
  line {
    vector-effect: non-scaling-stroke;
  }

  .crosshair-target {
    stroke: hsl(84, 100%, 29.2%);
    stroke-width: 2px;
  }

  .circle-target {
    display: none;
  }

  .arrow-between-targets {
    stroke: darkblue;
    stroke-width: 2px;
    stroke-dasharray: 2;
  }

  .proper-motion-line-gs {
    display: none;
    &.guide-star-candidate-target-visible {
      display: inline;
    }
  }

  .overlay-all-targets {
    isolation: inline;
  }

  .guide-star-candidate-target {
    display: none;
    stroke: red;
    stroke-width: 1px;
    fill: hsl(9, 100%, 63.9%, 0.8);
    isolation: initial;

    &.guide-star-candidate-target-crowded {
      stroke-width: 0.5px;
      fill: hsl(9, 100%, 63.9%, 0.5);
    }

    &.guide-star-candidate-target-reachable {
      stroke-width: 0.5px;
      fill: hsl(180, 100%, 50%);
    }

    &.guide-star-candidate-target-visible {
      display: inline;
    }
  }

  .guide-star-target {
    stroke: hsl(120, 100%, 19.6%);
    stroke-width: 1px;
    stroke-opacity: 1;
    fill: green;
    fill-opacity: 0.6;
  }

  .guide-star-candidate-target-base {
    display: none;
    stroke: black;
    stroke-width: 0.5px;
    fill: yellow;
    fill-opacity: 0.4;
    isolation: initial;
  }
}

.viz-guides {
  display: none;
}

.ui.vertical.menu.explore-aladin-settings-menu {
  background: var(--button-background-color-semi);
  border-color: var(--site-border-color);
  min-height: auto;
  margin-left: 0.1em;
  cursor: pointer;

  .item {
    padding: 0.6em;
  }
}

.explore-aladin-button {
  background: var(--button-background-color-semi);
}

@mixin aladin-button-mixin {
  position: absolute;
  z-index: 120;

  .ui.icon.button:not(.animated):not(.compact):not(.labeled) {
    padding: 0.4em;
  }

  .ui.icon.button {
    margin: 0;

    svg.svg-inline--fa {
      width: auto;
    }
  }
}

.explore-aladin-zoom-control {
  @include aladin-button-mixin();
  right: 10px;
  top: 50%;
  display: flex;
  flex-direction: column;
}

.ui.icon.button:not(.animated):not(.compact):not(.labeled).explore-aladin-fullscreen-button {
  padding: 0.4em;
  margin: 0;
  svg.svg-inline--fa {
    width: auto;
  }
}

.explore-aladin-fullscreen-button {
  @include aladin-button-mixin();
  right: 5px;
  top: 10px;
}

.explore-aladin-toolbox-button {
  @include aladin-button-mixin();
  top: 10px;
  left: 10px;

  .explore-aladin-button {
    position: absolute;
  }

  .explore-aladin-settings-menu {
    position: absolute;
    left: 30px;

    &.ui.compact.vertical.menu {
      width: 8rem !important; // in SUI it is important too
    }
  }
}

.ags-overlay {
  position: absolute;
  z-index: 120;
  margin: 1em;
  padding: 0.3em 1em;
  font-size: smaller;
  bottom: 30px;
  color: var(--hud-color);
  border: 1px solid var(--hud-color);
  border-radius: 3px;
  background: var(--hud-background-color);

  .fa-bahai {
    color: var(--ags-icon-color);
    margin-right: 0.3em;
  }

  .ags-description {
    display: flex;
    gap: 0.1em;
    align-items: center;

    .ags-navigation {
      margin-left: 0.5em;
    }

    .ags-navigation-button {
      padding: {
        left: 0.2em !important;
        right: 0.2em !important;
      }

      &.ui.basic.button:focus,
      &.ui.basic.button:active,
      &.ui.basic.button:hover {
        background: unset;
        border-radius: 2px;
      }

      &.ui.button.compact {
        svg.svg-inline--fa {
          width: auto;
          margin-right: 0;
        }
      }
    }

    .ags-guide-speed {
      text-transform: capitalize;
    }

    .ags-g-brightness {
      margin-left: 0.3em;
    }

    .ags-coordinates {
      margin-left: 0.3em;
      font-weight: bold;
    }

    .svg-inline--fa {
      margin-right: 0.3em;
    }
  }

  .ags-good-iq-color {
    color: var(--ags-good-iq-color);
  }
}
