@import "suithemes/default/globals/site.variables";
@import "suithemes/default/modules/dropdown.variables";
@import "theme/site/modules/sidebar.variables";
@import "theme/site/globals/site.variables";

// vertical buttons
@import "verticalbuttons.less";
@import "vendor/react-resizable.less";
@import "vendor/react-grid-layout.less";
// theming variables
@import "variables-dark.less";
@import "variables-light.less";
@import "explore-grid.less";

@gridSpace: 5px;
@minHeight: 2.85714286em; // TODO: Calculate this on less
@resizeHandleWidth: 5px; // Width of the tree resize handle

// Full viewport settings taken from https://dev.to/lennythedev/css-gotcha-how-to-fill-page-with-a-div-270j

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  position: fixed;
  min-height: 100vh;

  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  width: 100vw;
}

a {
  color: var(--site-link-color);
}

// Override SUI's default, which prevented 
.ui.form .fields .field .ui.input input, .ui.form .field .ui.input input {
  width: 100%;
}

// Mixins
//
.full-height-width {
  height: 100%;
  width: 100%;
}

:root {
  color-scheme: dark;
}

// Scrollbars
// * {
//   scrollbar-width: thin;
// }

/* Works on Chrome/Edge/Safari */
// *::-webkit-scrollbar {
//   width: 12px;
// }

/*** iPhone and iOS Form Input Zoom Fixes ***/
@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] { font-size: 16px; }
}

@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] { font-size: 16px; }
}

@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] { font-size: 16px; }
}

@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] { font-size: 16px; }
}

body.dark-theme {
  .dark-theme();
}

body.light-theme {
  .light-theme();
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    .dark-theme();
  }

  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    .light-theme();
  }
}

// Classes
.tilemenu {
  background: darkgray;
}

.explore-accented {
  color: var(--explore-accent-color);
}

tfoot {
  background-color: var(--table-footer-background);
}

//----------
// Main grid
//----------
.main-grid {
  @topBottom: 42px;

  display: grid;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: @topBottom minmax(calc(100% - @topBottom - @topBottom), 1fr) @topBottom;
  grid-template-areas:
    "header"
    "body"
    "sidebar";

  @media (min-width: @target-grid-responsive-cutoff) {
    grid-template-columns: 50px auto;
    grid-template-rows: @topBottom minmax(calc(100% - @topBottom), 1fr);
    grid-template-areas:
      "header header"
      "sidebar body";
  }
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  .main-grid {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}

.main-body {
  grid-area: body;
  max-width: 100vw;
  overflow: hidden;
  justify-content: stretch;
}

.main-title {
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.size-detector {
  .full-height-width();
}

.main-user-name {
  margin-left: auto;
  letter-spacing: 0.1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ui.button.active.side-button {
  border-top: var(--explore-accent-color) solid 4px;
  background-color: var(--under-tab-background-active-color);
  font-weight: bold;
}

.ui.menu .item.main-user-name {
  flex-shrink: 1;
  display: inline-block;
}

.ui.tabular.menu .item.connection-icon {
  padding-right: 0.5em;
  padding-left: 0;
}

.ui.tabular.menu .item.main-menu-dropdown {
  padding-right: 0.5em;
  padding-left: 0;
  z-index: 1000;
}

.ui.menu:not(.vertical) .right.menu.main-menu {
  margin-left: 0 !important; //SUI has !imporant
}

.explore-tile-title {
  background-color: var(--tile-title-background);
  display: flex;
  flex-direction: row;
  align-items: center;

  & .tabular.menu .item {
    color: var(--tile-title-color);
    letter-spacing: 0.1em;
  }
}

.explore-tile-title-info {
  flex-grow: 2;
}

.ui.menu.explore-tile-title-menu {
  margin-top: 0;
  cursor: pointer;
  min-height: 36px;
}

.ui.menu.explore-tile-title-menu .item {
  padding-left: 0.5em;
  letter-spacing: 2px;
}

.constraints-grid.ui.form .field {
  margin-bottom: 0;
}

.constraints-grid {
  padding: 0.5em;
  display: grid;
  align-items: baseline;
  gap: 0.3em 0.5em;

  --column-wide-span: 4;

  grid-template-columns: [label1] max-content [field1] minmax(20ch, 3fr) [label2] max-content [field2] minmax(20ch, 3fr);

  .elevation-range-picker {
    width: 9em;
  }

  .elevation-range-entry {
    width: 8em;
  }

  .constraints-elevation-range {
    display: flex;
    gap: 0.3em 0.5em;
    align-items: baseline;
  }

  .constraints-elevation-range,
  .constraints-name-field {
    grid-column: 1 / span var(--column-wide-span);
  }
}

.tile-xxs-width,
.tile-xs-width {
  .constraints-grid {
    --column-wide-span: 1;

    grid-template-columns: 1fr;

    .constraints-elevation-range {
      flex-direction: column;
      justify-items: stretch;

      .field {
        width: 100%;
      }
    }
  }
}

.constraints-obs-tile {
  .constraints-grid {
    .constraints-name-field {
      display: none;
    }
  }
}

.ui.menu.explore-tile-title-menu a.item:hover {
  background: unset;
  color: unset;
}

.ui.button.tile-back-button {
  margin-right: 0;

  @media (min-width: @target-grid-responsive-cutoff) {
    display: none;
  }
}

.explore-tile-control {
  margin-right: auto;
}

.main-header > .ui.tabular.menu .item {
  color: var(--main-header-color);
}

.main-header {
  grid-area: header;
  width: 100vw;
  min-width: 100vw;
  background-color: var(--main-header-background-color);

  & > .ui.tabular.menu {
    border-bottom: none;
  }
}

.sidetabs {
  grid-area: sidebar;
  background: var(--sidetab-background);
  overflow: hidden;
}

.sidetabs-divider {
  display: none;

  @media (min-width: @target-grid-responsive-cutoff) {
    display: block;
  }
}

// Side tabs
.sidetabs-body {
  display: flex;

  @media (min-width: @target-grid-responsive-cutoff) {
    height: 100%;
    display: block;
    overflow: hidden;
  }
}

.sidetabs-body-vertical {
  height: 100%;
  display: none;

  @media (min-width: @target-grid-responsive-cutoff) {
    display: inherit;
  }
}

.sidetabs-body-horizontal {
  height: 100%;
  display: flex;
  overflow: hidden;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  width: 100vw;
  max-width: 100vw;
  justify-content: space-between;
  align-items: stretch;
  border-top: 1px solid var(--under-tab-border-color);
}

.ui.label.bottom-tab-selector {
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 300;
  text-align: center;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  border-radius: 0.2em;
  border: 1px solid var(--under-tab-border-color);
  background-color: var(--under-tab-background-color);
}

.ui.label.bottom-tab-selector:hover,
.ui.label.bottom-tab-selector:focus {
  border: 1px solid var(--under-tab-border-color);
  background-color: var(--under-tab-background-focus-color);
}

.ui.label.active.bottom-tab-selector {
  border: 1px solid var(--under-tab-border-color);
  border-top: var(--explore-accent-color) solid 4px;
  background-color: var(--under-tab-background-active-color);
  font-weight: bold;
}

.ui.label.active.bottom-tab-selector:hover,
.ui.label.active.bottom-tab-selector:focus {
  border: 1px solid var(--under-tab-border-color);
  border-top: var(--explore-accent-color) solid 4px;
  background-color: var(--under-tab-background-focus-active-color);
}

//----------
// Main title
//----------
// Taken from the definitíon of ui.button transition but removed background-color and background
// When animating those two properties you see some flickering in FF
.ui.button.side-button {
  border: 1px solid var(--under-tab-border-color);
  border-bottom: transparent solid 4px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  background-color: var(--under-tab-background-color);
  font-weight: 300;
  transition:
    opacity @defaultDuration @defaultEasing,
    color @defaultDuration @defaultEasing,
    box-shadow @defaultDuration @defaultEasing;
}

.explore-tile-body {
  height: ~"calc(100% - @{minHeight})";
  overflow-y: auto;
  background-color: var(--tile-background);
}

.explore-tile {
  .full-height-width();

  background-color: var(--tile-background);
}

.ui.basic.button.explore-tile-state-button:hover {
  background: transparent;
  box-shadow: none;
  outline: none;
  filter: brightness(100%);
}

.explore-tile-state-button {
  filter: brightness(80%);
  margin-right: 0.5em;
  transform-origin: center center;
  transition: transform 0.25s, filter 0.25s ease-in;
}

.proposal-tile {
  margin: 0.5em;
}

.proposal-tile .explore-tile-body {
  padding: 1em;
}

.react-aladin {
  margin: 2px;
}

.explore-empty-tree-content {
  border: 1px solid var(--under-tab-border-color);

  div {
    font-size: 2em;
    padding-bottom: 0.3em;
    border-bottom: var(--explore-accent-color) solid 2px;
  }
}

.horizontal-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// Vertical handle to resize the tree
.resize-handle {
  width: @resizeHandleWidth;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: ew-resize;
  position: relative;
  margin-left: -@resizeHandleWidth;
  background: black;
  z-index: 1;
}

.maingrid {
  height: 100%;
}

// Area where the grid-layout is placed
.rgl-area,
.tree-rgl {
  .full-height-width();
}

.tree-rgl {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

// Section on the left to place the tree
.tree {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;

  // Special css to decorate the resize handle. It needs to be very specific
  .react-resizable-handle.react-resizable-handle-e {
    cursor: e-resize;
  }
}

.resizable-single-panel {
  box-shadow: inset -5px 0 0 0 var(--tile-background);
}

.resizable-multi-panel {
  box-shadow: inset -5px 0 0 0 var(--site-page-background);
}

.rgl-placeholder {
  background-color: var(--tile-background);
  height: 100%;
  top: 0;
  position: absolute;
}

.single-panel-tile {
  .full-height-width();

  position: absolute;
  top: 0;
  overflow-y: auto;
}

// Inner area of the tree
.tree-body {
  .full-height-width();

  @media (min-width: @target-grid-responsive-cutoff) {
    width: ~"calc(100% - @{resizeHandleWidth})";
  }
}

.obs-tree-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 0;
  height: 100%;
  overflow: hidden;
}

.obs-tree {
  display: flex;
  flex-direction: column;
  min-height: 0;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
}

.obs-scroll-tree {
  height: 100%;
  flex-grow: 1;
  padding-top: 0.2em;
  padding-right: 0.2em;
  padding-left: 0.2em;
  overflow-y: auto;
  border: solid 1px var(--under-tab-border-color);
}

.obs-unassigned {
  display: flex;
  flex-direction: column;
  overflow: auto;

  &.dragging-over {
    .obs-tree-header {
      background-color: rgba(0, 0, 0, 0); // transparent
    }
  }
}

.obs-item {
  margin: 0;
  padding: 0;
}

.obs-count {
  white-space: nowrap;
  font-weight: 100;
}

.obs-tree-item {
  margin-left: 25px;
  padding: 5px;
}

.card.obs-badge {
  width: 100%;
  margin: 0 0;
  background-color: var(--obs-badge-background);
  border: solid 1px var(--site-border-color);
  font-size: smaller;
}

.card.obs-badge:last-child {
  margin-bottom: 0.2em;
}

.card.obs-badge .content .meta,
.card.obs-badge .content .description,
.card.obs-badge .content .header {
  color: var(--obs-badge-color);
}

.obs-badge-target-and-id {
  display: flex;
  width: 100%;
}

.obs-badge-id {
  margin-left: auto;
  margin-right: 1em;
  font-weight: normal;
  font-size: small;
  opacity: 0.5;
}

.selected-obs-item .card.obs-badge {
  background-color: var(--obs-selected-badge-background);
}

.obs-tree-group-header {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0.5em 0.5em !important;
  align-content: center;
}

.vertical.segment.selected-obs-tree-group {
  background-color: var(--tile-background);
}

.dragging-over .vertical.segment.selected-obs-tree-group {
  background-color: rgba(0, 0, 0, 0);
}

.vertical.segment.unselected-obs-tree-group:hover {
  background-color: var(--explore-group-hover);

  & .obs-tree-group-header {
    text-decoration: underline;
  }
}

.vertical.segment.obs-tree-group {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 5px;
  user-select: none;
}

.reflex-element.obs-tree-section {
  display: flex;
  flex-direction: column;
}

.trash-icon {
  color: var(--negative-icon-color);
}

.obs-group-title {
  flex-grow: 2;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
  text-overflow: ellipsis;
}

.justify-right {
  align-self: center;
  justify-self: end;
}

.tree-toolbar {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 5px;
  background-color: var(--tile-title-background);
}

.dragging-over {
  background-color: var(--explore-group-dragging) !important;
}

.sky-plot {
  height: 350px;
}

.sky-plot-section {
  height: 390px;
  background-color: var(--plot-background-color);
  color: var(--plot-text-color);
}

.sky-plot-section .ui.checkbox + label {
  color: var(--plot-text-color);
}

.sky-plot-controls {
  display: flex;
  justify-content: space-around;
  background-color: var(--plot-background-color);
  color: var(--plot-text-color);
}

.sky-plot-datepicker {
  width: 100px;
}

.plot-toggle-checkbox {
  white-space: nowrap;
  display: flex;
}

.plot-toggle {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 4px;
}

.plot-toggle.ui.fitted.slider.checkbox {
  width: 2.5rem;
}

.plot-toggle.ui.slider.checkbox label::before {
  width: 2.5rem;
}

.plot-toggle.ui.slider.checkbox .box::before,
.plot-toggle.ui.slider.checkbox label::before {
  background-color: hsl(0, 0%, 33%) !important;
}

.plot-toggle.ui.slider.checkbox label::after {
  width: 1rem;
  height: 1rem;
  top: -0.05rem;
}

.plot-toggle.ui.slider.checkbox input:focus:checked ~ label::before {
  background-color: hsl(0, 0%, 33%) !important;
}

.plot-toggle.ui.slider.checkbox input:checked ~ label::after {
  left: 1.5rem;
}

.ui.grid > .row > .column.aladin-column {
  padding-top: 0;
  padding-bottom: 0;
}

.aladin-container-column {
  min-height: 500px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: max-content 4fr min-content;
  align-content: stretch;
  grid-template-areas:
    "aladin aladin aladin"
    "fov curr center";
}

.aladin-container-body {
  grid-area: aladin;
  margin-bottom: 0.2em;
}

.aladin-status-fov {
  grid-area: fov;
  justify-self: stretch;
  align-self: center;
}

.aladin-status-current-coordinates {
  grid-area: curr;
  justify-self: end;
  align-self: center;
}

.aladin-status-center-button {
  grid-area: center;
  align-self: center;
}

.aladin-detail-text {
  color: white;
}

.moon-phase {
  position: absolute;
  top: 5px;
  right: 1rem;
  z-index: 10;
}

.connection-ok {
  color: greenyellow;
}

.connection-warning {
  color: gold;
}

.connection-error {
  color: red;
}

.wip {
  position: relative;
  display: inline-block;
}

.wip .wip-warning {
  visibility: hidden;
  width: 120px;
  background-color: yellow;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 3;
  top: 30px;
  left: calc(50% - 60px);
}

.wip:hover .wip-warning {
  visibility: visible;
}

.edit-warning {
  padding: 5px !important; // important to override SUI's style.
  position: absolute !important; // important to override SUI's style.
  z-index: 99999;
  width: 100%;
}

// The Target Position layout
@target-grid-responsive-cutoff: 992px;
@mobile-responsive-cutoff: 670px;

.target-form {
  grid-template-columns: [label] minmax(100px, 1fr) [field] 6fr;
  justify-items: stretch;
}

.target-search-form {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: [label] minmax(100px, 1fr) [field] 6fr;
  grid-gap: 0.3em;

  .field {
    margin-bottom: 0 !important;
  }
}

.target-grid {
  display: grid;
  grid-gap: 1em;
  padding: 0.5em;
}

.tile-xl-width,
.tile-lg-width,
.tile-md-width {
  .target-grid {
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  }

  @supports (grid-template-rows: masonry) {
    .target-grid {
      grid-template-rows: masonry;
    }
  }

  .target-aladin-cell {
    grid-row: span 3;
    max-height: 500px;
  }

  .target-skyplot-cell {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.target-skyplot-cell {
  margin: 0 1em 1em;
  position: relative;
  min-width: 1px; // Needed to help highcharts recompute width on the fly.
}

.target-rv-controls {
  justify-self: stretch;
}

.catalogue-form {
  height: max-content; // keep it from expanding to fill cell
}

// for the ra and dec inputs expand
.target-ra-dec-min-width {
  .ui.input {
    width: 100%;
  }
}

.error-label-mixin() {
  color: var(--negative-text-color);
  background-color: var(--negative-background-color);
}

.ui.label.explore-error-label {
  .error-label-mixin();
}

.ui.form .field > .explore-error-label {
  .error-label-mixin();
}

.ui.basic.label.explore-section-label {
  background-color: transparent;
  border: none;
  letter-spacing: 0.15em;
  border-radius: 0;
  border-bottom: 1px solid var(--input-color);
}

.explore-units-label {
  margin-left: 0.25em;
  margin-bottom: 0.2em;
}

.proposal-details-grid {
  /*
  When we go to one column, instead of interleaving
  items, we want to put the second column below the first.
  */
  @proposal-details-grid-items: 8;

  each(range(1, @proposal-details-grid-items), {
    @is-odd: boolean(mod(@value, 2) > 0);
    @odd-value: (@value + 1) / 2;
    @even-value: ceil((@value + @proposal-details-grid-items) / 2);
    @row-start: if(@is-odd, @odd-value, @even-value);

    & > *:nth-child(@{value}) {
      @media (max-width: @two-column-break) {
        grid-row-start: @row-start;
      }
    }
  });
}

.minimum-percent {
  width: 5.5em;
  padding-left: 0.5em !important;

  div& .ui.input input {
    text-align: right;
  }

  span& {
    text-align: end;
  }
}

.version {
  font-size: smaller;
  float: right;

  // CopyToClipboard
  div {
    display: inline-block;
    margin-left: 5px;
  }
}

// The split edit button and the band totals
.partner-split-data {
  &,
  div& data {
    width: 6em;
  }

  // the text only "hours".
  span& {
    text-align: end;
    padding-right: 6px; // determined empirically from dev tools
  }

  // The div containing the flag and percent text.
  data > div {
    display: flex;

    // The percent text
    span {
      flex: 1;
      text-align: end;
    }
  }
}

.version.uncopied {
  // CopyToClipboard
  div {
    cursor: pointer;
  }
}

div.partner-split-total {
  &,
  & > div > data {
    width: 5.5em;
  }

  & > div > data {
    text-align: end;
  }
}

img.partner-split-flag {
  height: 16px;
  width: 32px;
  margin-right: 0.5em;
}

.partner-splits-editor-error {
  text-align: left;
  font-size: larger;
}

// For very small tables hide the headers and add fake "header" to the left of the row
.tile-xs-width {
  .target-grid {
    grid-template-columns: 1fr;
  }

  .explore-magnitudes-container {
    .ui.table,
    thead,
    tbody,
    th,
    td,
    tr {
      // SUI already has an !important
      display: block !important;
    }

    // Hide table headers (but not display: none;, for accessibility)
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }
}

.tile-xs-height {
  .explore-magnitudes-section {
    display: none;
  }
}

.ui.table.partner-splits-editor-table {
  th:last-child,
  td:last-child,
  td:last-child > span > div {
    width: 4em;
  }

  .ui.form & input {
    text-align: right;
  }
}

// position all fields relative so that error labels position properly.
.ui .field {
  position: relative;
}

.explore-input-error-tooltip {
  position: absolute;
  transform: translate(0, -33px);
  left: 30%;
  z-index: 3;
}

.ui.button.blended-button {
  border: none;
  background-color: transparent;
  box-shadow: none;

  &:hover {
    outline: 1px var(--site-border-color) solid;
  }
}

.ui.button.delete-button {
  padding: 0;
  margin: 0;
  margin-right: 0.4em;
  border: none;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: center;

  &:hover {
    outline: 1px var(--site-border-color) solid;
  }
}

.ui.form .field.flat-form-field {
  margin-bottom: 0;
}

i.icon.user-astronaut::before { content: "\f4fb"; }

.ui.modal.explore-login-box > .content {
  background-color: var(--modal-background);
}

.explore-login-box-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore-login-title-wrapper {
  overflow: hidden;
  margin-bottom: 4em;
}

.explore-login-title {
  @spacing: 20px;

  transform: translate(-100%, 0%);
  font-weight: 300;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: @spacing;
  text-indent: @spacing;
  animation: showTopText 0.8s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  border-bottom: var(--explore-accent-color) solid 4px;
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.explore-login-orcid-button {
  display: flex;
  align-items: center;
}

.warning-label-mixin() {
  color: var(--warning-text-color);
  background-color: var(--warning-background-color);
}

.ui.label.explore-warning-label {
  .warning-label-mixin();
}

.ui.label.explore-login-button {
  margin-bottom: 1em;
  white-space: wrap;
  max-width: 60%;
  text-align: center;
  display: flex;
  justify-items: center;
}

.ui.button.explore-login-button {
  margin-bottom: 1em;
}

.explore-orcid-icon-menu,
.explore-login-orcid-icon {
  @logosize: 1.18em;

  margin-right: 0.42em;
  vertical-align: baseline;
  width: @logosize;
  height: @logosize;
}

.explore-orcid-menu {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  padding-right: 1em;
}

.explore-orcid-icon-menu {
  margin-right: 0.8em;
}

#staging-banner {
  @spacing: 20;

  z-index: 2000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  text-indent: @spacing;
  letter-spacing: @spacing;
  padding: 0.5em 1em;
  font-weight: 900;
  background-color: var(--explore-accent-color);
}

// https://zellwk.com/blog/creating-focus-style/
i.icon.explore-button-icon:hover,
i.icon.explore-button-icon:focus {
  outline: none;
  opacity: 1;
  box-shadow:
    0 0 0 0.1rem var(--focus-inner-color),
    0 0 0 0.2rem var(--focus-outer-color);
}

html {
  // Required for iOS to work with 100vh
  // https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/
  height: -webkit-fill-available;
}

.observer-notes-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.observer-notes {
  padding: 1em;
}

.ui.segment.explore-magnitudes-container {
  padding: 0;
  display: inline-block;
}

// https://css-tricks.com/responsive-data-tables/
.tile-xs-width .explore-magnitudes-container .ui.ui.ui.ui.table:not(.unstackable) {
  tfoot {
    display: block;
  }

  td {
    /* Behave  like a "row" */
    position: relative;
    padding-left: 40%;
    padding-right: 0.5em;
  }

  td::before {
    /* Now like a table header */
    position: absolute;

    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-left: 0.25em;
    white-space: nowrap;
  }

  td:first-child::before {
    font-weight: normal;
  }

  // It is a bit unfortunate that we have to hardcode the column names here
  td:nth-of-type(1)::before {
    content: "Value";
  }

  td:nth-of-type(2)::before {
    content: "Band";
  }

  td:nth-of-type(3)::before {
    content: "System";
  }

  td:nth-of-type(4)::before {
    content: "";
  }

  // Align the trash button
  td:last-child button {
    margin-left: auto;
  }
}

.explore-magnitudes-delete-button-wrapper {
  display: flex;
  justify-content: center;

  .ui.button.delete-button {
    padding: 0.4em 0.4em 0.4em 0.4em;
  }
}

.explore-magnitudes-footer {
  display: flex;
  justify-content: flex-end;
}

.obs-badge-header {
  display: flex;
  align-items: center;
}

.obs-badge-description {
  display: flex;
  justify-content: space-between;
}

.ui.button.delete-button.obs-delete-button {
  margin: 0;
  padding: 0 !important;

  svg {
    margin: 0 !important;
  }
}

.crash-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.explore-help-icon {
  margin-left: 0.5em;
  cursor: pointer;
  color: var(--site-text-color);
}

.explore-help-sidebar {
  display: flex;
  flex-direction: column;
  .full-height-width();
}

.explore-help-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--control-background-color);
  padding-left: 0.6em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.explore-help-title-label {
  margin-bottom: 0;
}

.explore-help-body {
  .full-height-width();

  min-height: 100%;
  background-color: white;
}

.markdown-body {
  height: 100%;
  padding: 1em;

  svg.svg-inline--fa {
    color: hsl(210, 12.2%, 16.1%);
  }

  * {
    text-shadow: none;
    color: black;
  }
}

.title-strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.ui.wide.right.sidebar {
  max-width: 100%;
}

.step-table-header {
  text-transform: unset !important;
}

.step-guided {
  color: lightgreen;
}

.explore-configuration-grid {
  padding: 0.5em;
  min-height: 0;
  display: grid;
  grid-gap: 0.5em;
  grid-template-areas:
    "form table-header"
    "form table";
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  height: 100%;
}

.tile-sm-width,
.tile-xxs-width,
.tile-xs-width {
  .explore-configuration-grid {
    grid-template-areas:
      "form"
      "table-header"
      "table";
    grid-template-columns: 1fr;
  }
}

.explore-form {
  display: grid;
  justify-items: start;
  align-items: baseline;
  align-self: start;
  grid-template-columns: [label] 1fr [field] 2fr [units] auto;

  .field {
    justify-self: stretch;
  }

  .explore-units-label {
    justify-self: start;
  }

  .field .ui.input,
  .field .ui.selection.dropdown {
    min-width: 100%;
  }
}

.explore-skip-to-next {
  grid-column: 1;
}

.explore-configuration-signal-to-noise-at {
  display: flex;
  margin-left: 0.25em;
  align-items: baseline;

  .explore-units-label {
    align-self: baseline;
    margin-bottom: unset;
  }

  :first-child {
    margin-right: 0.25em;
  }

  .field {
    width: 8ch;
  }
}

.explore-configuration-capabilities {
  grid-column: span 2;
}

.block.header.obs-tree-header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  user-select: none;
  margin-top: 2px;
  margin-bottom: 0;

  :not(.obs-count) {
    text-transform: uppercase;
  }
}

.ui.dropdown.explore-configuration-filter {
  min-width: 100%;

  .menu > .item > .header {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: smaller;
    pointer-events: none;
    cursor: unset;
  }
}

.explore-configuration-filter-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;

  span:first-child {
    justify-self: start;
  }

  span:not(:first-child) {
    color: var(--site-input-placeholder-focus-color);
    font-size: smaller;
  }
}

.explore-button-copy {
  border: 0 !important; // important to override SUI's style.
}

.explore-buttons-undo {
  margin-left: auto;
}

.explore-button-summary {
  width: 100%;
}

.explore-tile-title-button-new {
  margin-left: 1em !important; // important to override SUI's style.
}

.ui.labeled.icon.button.verycompact {
  padding-left: 2.3em !important;
  padding-right: 0.5em !important;

  .icon {
    width: 2em;
  }
}

.explore-shared-edit-warning {
  text-align: center;
}

.explore-select-columns {
  margin-left: auto;
  margin-right: 1em;

  .menu {
    max-height: 30em !important;

    .item {
      font-size: small !important;
    }
  }
}

.table .sticky {
  position: sticky;
  z-index: 9999;
}

.ui.striped.table tr td.sticky {
  background-color: var(--table-background);

  &:hover {
    box-shadow: inset 0 1px 0 0 var(--explore-accent-color);
  }
}

.ui.striped.table tr:nth-child(2n) td.sticky {
  background-color: var(--table-striped-background);
}

.ui.striped.table tr:hover td.sticky {
  background: var(--table-selectable-background);
  color: var(--table-selectable-color);
}

.explore-target-summary-type {
  left: 0;
  width: 20px;
}

.explore-target-summary-name {
  left: 33px;
}

.explore-modes-table-title {
  grid-area: table-header;
}

.explore-configuration-form {
  grid-area: form;
}

.explore-modes-table {
  overflow-y: scroll;
  height: 100%;
  border: 0.2px solid var(--site-border-color);
  border-radius: @menuBorderRadius;
  grid-area: table;
}

.explore-modes-header {
  top: 0;
  white-space: nowrap;
}

.ui.button.compact,
.ui.labeled.icon.button.left.verycompact {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.ui.icon.button svg.svg-inline--fa,
.ui.button.compact svg.svg-inline--fa,
.ui.button.verycompact svg.svg-inline--fa {
  width: 1.5em;
}

svg.padded-right-icon.svg-inline--fa,
.ui.icon.button svg.svg-inline--fa,
.ui.menu .ui.dropdown .menu > .item svg.svg-inline--fa {
  margin-right: 9px;
}

.modal-close-button {
  z-index: 1;
  position: absolute;
  top: -1rem;
  right: -1rem;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.user-selection-buttons {
  display: flex;
  flex-direction: column;
}

.obs-badge-extra {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.obs-status-select {
  flex-grow: 2;
  margin-right: 2em;

  .ui.dropdown {
    width: 100%;
    font-size: inherit;

    .menu .item {
      font-size: inherit;
      border: 0;
    }
  }
}

.ui.toggle.checkbox.obs-active-status-toggle {
  transform: rotate(270deg) scale(0.6) translate(0, 150%);

  input:checked ~ label::before {
    background-color: var(--checkbox-toggle-checked-background) !important;
  }
}

.ui.ui.selectable.table > tbody > tr:hover,
.ui.table tbody tr td.selectable:hover {
  box-shadow: inset 0 0 0 1px var(--explore-accent-color);
}
