@import 'legacyvariables.less';

// vertical buttons
@import 'vendor/react-resizable.less';
@import 'vendor/react-grid-layout.less';
// theming variables
@import 'explore-grid.less';

@gridSpace: 5px;
@minHeight: 2.85714286em; // TODO: Calculate this on less

// media queries cutoff
@tablet-responsive-cutoff: 992px;
@mobile-responsive-cutoff: 670px;

a {
  color: var(--site-link-color);
}

// Mixins
//
.full-height-width {
  height: 100%;
  width: 100%;
}

:root {
  color-scheme: dark;
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px;
  }
}

@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='tel'],
  input[type='url'] {
    font-size: 16px;
  }
}

@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='tel'],
  input[type='url'] {
    font-size: 16px;
  }
}

// Classes

.explore-accented {
  color: var(--explore-accent-color);
}

.explore-text-plain {
  text-transform: none;
}

tfoot {
  background-color: var(--table-footer-background);
}

//----------
// Main title
//----------
.react-aladin {
  margin: 2px;
}

.explore-empty-tree-content {
  border: 1px solid var(--under-tab-border-color);

  div {
    font-size: 2em;
    padding-bottom: 0.3em;
    border-bottom: var(--explore-accent-color) solid 2px;
  }
}

.horizontal-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.maingrid {
  height: 100%;
}

.obs-tree {
  display: flex;
  flex-direction: column;
  min-height: 0;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
}

.obs-unassigned {
  display: flex;
  flex-direction: column;
  overflow: auto;

  &.dragging-over {
    .obs-tree-header {
      background-color: rgba(0, 0, 0, 0); // transparent
    }
  }
}

.obs-item {
  margin: 0;
  padding: 0;
}

.obs-count {
  white-space: nowrap;
  font-weight: 100;
}

.obs-tree-item {
  margin-left: 25px;
  padding: 5px;
}

.obs-tree-group-header {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0.5em 0.5em !important;
  align-content: center;

  .fa-thumbtack {
    margin-right: 1em;
    margin-left: 0.5em;
  }
}

.selected-obs-tree-group {
  background-color: var(--tile-background);
}

.dragging-over .selected-obs-tree-group {
  background-color: rgba(0, 0, 0, 0);
}

.unselected-obs-tree-group:hover {
  background-color: var(--explore-group-hover);

  & .obs-tree-group-header {
    text-decoration: underline;
  }
}

.obs-tree-group {
  display: block;
  color: var(--primary-color-text);
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 5px;
  user-select: none;
}

.eraser-icon,
.trash-icon {
  color: var(--negative-icon-color);
}

.dragging-over {
  background-color: var(--explore-group-dragging) !important;
}

.moon-phase {
  position: absolute;
  top: 5px;
  right: 1rem;
}

.wip {
  position: relative;
  display: inline-block;
}

.wip .wip-warning {
  visibility: hidden;
  width: 120px;
  background-color: yellow;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 3;
  top: 30px;
  left: calc(50% - 60px);
}

.wip:hover .wip-warning {
  visibility: visible;
}

.edit-warning {
  padding: 5px !important; // important to override SUI's style.
  position: absolute !important; // important to override SUI's style.
  z-index: 2000;
  width: 100%;
}

.target-brightness-cell {
  .form {
    height: 100%;
  }
}

.target-asterism-editor {
  align-self: stretch;
  outline: 3px solid pink !important;
}

.catalogue-form {
  height: max-content; // keep it from expanding to fill cell
}

.error-label-mixin() {
  color: var(--negative-text-color);
  background-color: var(--negative-background-color);
}

.explore-table-units-label {
  margin-left: 0.25em;
  font-size: x-small;
}

.explore-units-label {
  margin-left: 0.25em;
}

.explore-input-error-mixin() {
  left: 30%;
  z-index: 3;
}

.explore-input-error-tooltip {
  transform: translate(0, -33px);
  .explore-input-error-mixin();
}

.explore-input-error-tooltip-below {
  transform: translate(0, 20px);
  .explore-input-error-mixin();
}

span.fa-layers-text.required-for-itc-text {
  font-weight: 900;
  transform: scale(0.6) translate(-1em, -2.4em) rotate(30deg);
}

div.field.explore-warning-input,
div.inline.field.explore-warning-input {
  box-shadow: -0 0 2px 1px var(--warning-background-color);
}

#non-prod-banner {
  @spacing: 20;

  z-index: 2000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  text-indent: @spacing;
  letter-spacing: @spacing;
  padding: 0.5em 1em;
  font-weight: 900;
  background-color: var(--explore-accent-color);
}

// https://zellwk.com/blog/creating-focus-style/
i.icon.explore-button-icon:hover,
i.icon.explore-button-icon:focus {
  outline: none;
  opacity: 1;
  box-shadow:
    0 0 0 0.1rem var(--focus-inner-color),
    0 0 0 0.2rem var(--focus-outer-color);
}

html {
  // Required for iOS to work with 100vh
  // https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/
  height: -webkit-fill-available;
}

.observer-notes-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.observer-notes {
  padding: 1em;
}

.crash-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.block.header.obs-tree-header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  user-select: none;
  margin-top: 2px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.explore-button-copy {
  border: 0 !important; // important to override SUI's style.
}

.explore-button-summary {
  width: 100%;
  justify-content: center;
}

.explore-target-summary-subrow-cell {
  padding-left: 10px;
}

svg.padded-right-icon.svg-inline--fa {
  margin-right: 3px;
}

// Remove the focus on icons
svg[focusable='false']:focus {
  outline: none;
}

.modal-close-button {
  z-index: 1;
  position: absolute;
  top: -1rem;
  right: -1rem;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.explore-modes-header {
  top: 0;
  white-space: nowrap;
}

.explore-modes-table-itc-cell {
  display: flex;
  justify-content: center;
}

tbody tr td.sticky-column {
  position: sticky;
  background: inherit;
  clip-path: inset(2px 0); // Avoids overwriting the box-shadow.
}

thead tr th.sticky-column {
  position: sticky;

  &.sticky-header {
    z-index: 15;
  }
}

thead tr th.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.explore-modes-table-itc-header-cell {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.explore-modes-table-itc-circular-progressbar {
  height: 16px;
  padding-left: 4px;

  .CircularProgressbar-trail {
    stroke: none !important;
  }

  .CircularProgressbar-path {
    stroke: var(--site-text-color) !important;
  }
}
