name: Build slug with static assets and deploy to Heroku

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Heroku - Provision static plugin
        run: heroku plugins:install heroku-cli-static
      - name: Set up Scala
        uses: olafurpg/setup-scala@v7
        with:
          java-version: adopt@1.11
      - name: Build application
        env: 
          ODB_ENDPOINT: ${{ secrets.ODB_ENDPOINT }}
        run: sbt -v stage        
      - name: Heroku - Deploy
        working-directory: ./explore/target/scala-2.13/stage
        env: 
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku static:deploy -a ${{ secrets.HEROKU_APP_NAME }}