name: Deploy to Heroku

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    if: startsWith(github.repository, 'gemini')
    env:
      FONTAWESOME_NPM_AUTH_TOKEN: ${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}

    steps:
      - uses: actions/checkout@v2
      - name: Heroku - Provision static plugin
        run: heroku plugins:install heroku-cli-static
      - name: Set up Scala
        uses: olafurpg/setup-scala@v13
        with:
          java-version: adopt@1.11
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: 14.17.5
          cache: 'npm'
      - name: Scala.js - Full Link
        run: sbt -v -J-Xmx6g stage
      - name: Vite - Build
        run: |
          npm install
          npx vite build
        env:
          NODE_OPTIONS: --max_old_space_size=6144
      - name: Heroku - Deploy
        working-directory: ./heroku
        env: 
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku static:deploy -a ${{ secrets.HEROKU_APP_NAME }}