/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'slate';
@reset      : 'default';

/* Elements */
@button     : 'slate';
@container  : 'default';
@divider    : 'slate';
@emoji      : 'default';
@flag       : 'default';
@header     : 'default';
@icon       : 'default';
@image      : 'default';
@input      : 'slate';
@label      : 'slate';
@list       : 'slate';
@loader     : 'default';
@placeholder: 'default';
@rail       : 'default';
@reveal     : 'default';
@segment    : 'slate';
@step       : 'slate';
@text       : 'default';

/* Collections */
@breadcrumb : 'slate';
@form       : 'slate';
@grid       : 'default';
@menu       : 'slate';
@message    : 'slate';
@table      : 'slate';

/* Modules */
@accordion  : 'slate';
@calendar   : 'default';
@checkbox   : 'slate';
@dimmer     : 'default';
@dropdown   : 'slate';
@embed      : 'default';
@modal      : 'slate';
@nag        : 'default';
@popup      : 'slate';
@progress   : 'slate';
@slider     : 'default';
@rating     : 'default';
@search     : 'default';
@shape      : 'default';
@sidebar    : 'default';
@sticky     : 'default';
@tab        : 'default';
@toast      : 'default';
@transition : 'default';

/* Views */
@ad         : 'default';
@card       : 'slate';
@comment    : 'slate';
@feed       : 'slate';
@item       : 'slate';
@statistic  : 'slate';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
/*@themesFolder : 'themes';*/
@themesFolder : '~resources/suithemes';

/* Path to site override folder */
/*@siteFolder  : 'site';*/
@siteFolder  : '~resources/theme';


/*******************************
         Import Theme
*******************************/

@import (multiple) "~fomantic-ui-less/theme.less";
@fontPath : "~resources/suithemes/@{theme}/assets/fonts";

/* End Config */
